<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar #menuSearchBar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isFetching">
    <ion-fab-button color="danger" (click)="onAddMenu()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="secondary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-grid *ngIf="menuList.length>0">
    <ion-row>
      <ion-col
        size-xs="12"
        size-sm="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let menu of menuList"
      >
        <ion-card class="favCard">
          <ion-item>
            <!-- <ion-item detail button (click)="onEditMenu(menu.menuId)"> -->
            <ion-icon
              class="menuIcon"
              name="restaurant-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label>{{ menu.menuName }}</ion-label>
          </ion-item>
          <!-- <ion-card-content>
            <p>{{ menu.remarks.length !== 0 ? menu.remarks : menu.altRemarks }}</p>
          </ion-card-content> -->
          <ion-item lines="none" class="menuDesc">
            <ion-card-subtitle
              ><p>
                {{ menu.remarks.length !== 0 ? menu.remarks : menu.altRemarks }}
              </p></ion-card-subtitle
            >
            <ion-button
              mode="ios"
              size="small"
              color="secondary"
              fill="clear"
              slot="end"
              (click)="onEditMenu(menu.menuId)"
              ><ion-icon name="chevron-forward-outline"></ion-icon
            ></ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreMenus($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more menus..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
