<ion-content>
    <div class="auth-frame">
        <div>
            <ion-img class="logo" src="../../../assets/images/logo.png"></ion-img>
        </div>
        <div class="credentials">
            <ion-item lines="none">
                <ion-label color="medium" position="fixed">Username</ion-label>
                <ion-input color="tertiary"></ion-input>
            </ion-item>
        </div>
        <div class="credentials">
            <ion-item lines="none">
                <ion-label color="medium" position="fixed">Password</ion-label>
                <ion-input color="tertiary" type="password"></ion-input>
            </ion-item>
        </div>
        <div class="credentials">
            <ion-button color="primary">LOGIN</ion-button>
        </div>
    </div>
</ion-content>
