ion-content {
  --ion-background-color: #f6f6f6;
  --padding-start: 5%;
  --padding-end: 5%;
  --padding-top: 5%;
}

ion-card {
  --ion-background-color: #ffffff;
}

.separator {
  border-top: 1px solid var(--ion-color-medium);
}

.card-holder {
  margin: 20px 20px 0 20px;
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

form {
  margin: 0;

  ion-item {
    padding: 0.6rem 0.2rem;
  }

  .number-inputs {
    padding: 0;

    ion-col {
      padding: 0;

      ion-item {
        margin-top: 0px;
      }
    }
  }
}

.ion-label-elem {
  color: var(--ion-color-medium);
}

.ion-input-elem {
  --padding-bottom: 0;
}

.qty-input {
  padding-left: 50px;
  --padding-bottom: 0;

  ::ng-deep input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.search-button {
  margin: 0.2rem;
}

.save-button {
  margin: 1rem 0.3rem;
  height: 3.3rem;
}
