<ion-content>
  <div class="navbar">
    <button (click)="dismissModal()">&#8249;</button>
    <button
      styleSheetFile="assets/css/order-menu-print-preview.component.css"
      printSectionId="print-section" ngxPrint
      class="split">
      <img src="../../../assets/icons/printer.svg" />
  </button>
  </div>


  <div id="print-section">
    <div class="card">
      <div class="order-header">
        <div class="order-detail">
          <img src="../../../assets/icons/calendar.svg" />
          {{ orderMenuDto.dateCreated | date:'MMM dd, yyyy hh:mm a' }}
        </div>
        <div class="order-detail">
          <img src="../../../assets/icons/cart.svg" />
          {{ orderMenuDto.orderId.toString().padStart(8, "0") }}
        </div>
        <div class="order-detail">
          <img src="../../../assets/icons/person.svg" />
          {{ orderMenuDto.customerName }}
        </div>
        <div class="order-detail">
          <img src="../../../assets/icons/telephone.svg" />
          {{ orderMenuDto.contactNo }}
        </div>
        <div class="order-detail">
          <img src="../../../assets/icons/map.svg" />
          {{ orderMenuDto.address }}
        </div>
      </div>

      <div class="menu-header">
        <h3>{{ orderMenuDto.orderMenu.menu.menuName }}</h3>
        <p class="menuId">
          <img src="../../../assets/icons/spoonfork.svg" />
          {{ orderMenuDto.orderMenu.orderMenuId.toString().padStart(8, "0") }}
        </p>
        <p class="remarks">
          {{ orderMenuDto.orderMenu.menu.remarks }}
        </p>
        <h5>Total costs: {{ totalAmt | number:'1.2-2' }}</h5>
      </div>

      <table id="ingredients">
        <thead>
          <tr>
            <th class="centered"></th>
            <th class="left-aligned">Ingredients</th>
            <th class="right-aligned">Quantity</th>
            <th class="right-aligned">Cost</th>
            <th class="right-aligned">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ing of orderMenuDto.orderMenu.orderMenuIngredients">
            <td class="centered">
              <strong *ngIf="ing.orderMenuIngredientId !== 0">&#10004;</strong>
            </td>
            <td>{{ ing.item.itemName }}</td>
            <td class="right-aligned">{{ ing.requiredQty  | number:'1.0-3' }} {{ ing.requiredUom.uomCode }}</td>
            <td class="right-aligned">{{ ing.cost*ing.baseQty | number:'1.0-4' }}/{{ ing.requiredUom.uomCode }}</td>
            <td class="right-aligned">{{ ing.cost*ing.baseQty*ing.requiredQty | number:'1.0-4' }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</ion-content>
