.none {
  display: none;
}

ion-content {
  --ion-background-color: #f6f6f6;
}

ion-grid {
  padding: 1rem 0.5rem 2rem 0.5rem;
}

ion-col {
  padding: 0;
}

ion-item {
  padding: 0.6rem 0;
}

ion-card {
  --ion-background-color: #ffffff;
  margin: 2rem 0;
}

ion-searchbar {
  --box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  --background: #f6f6f6;
  --border-radius: 5px;
}


//Removes the arrow icon.
ion-select::part(icon) {
  display: none !important;
}

.spinner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ion-spinner {
    stroke: var(--ion-color-primary);
    fill: var(--ion-color-primary);
    transform: scale(3);
  }
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

.separator {
  border-top: 1px solid var(--ion-color-medium);
}

.ion-label-elem {
  color: var(--ion-color-medium);
}

.ion-input-elem {
  --padding-bottom: 0;
}

.qty-input {

  ::ng-deep input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.save-button {
  width: 100%;
  height: 3rem;

}

.payment-grid {
  padding: 0;

  ion-row {
    ion-col {
      padding: 0;
    }

    ion-label {
      margin: 0;
    }

    ion-item {
      // --padding-start: 0;
      --inner-padding-end: 0;
      margin-left: 2.5rem;
    }

    ion-input {
      --padding-top: 0;
      // --padding-start: 2.5rem;
    }
  }
}

.str-col-lbl {
  padding-left: 2.5rem;
}

.payment-hdr {
  display: none;
  vertical-align: bottom;
  background-color: var(--ion-color-medium-shade);

  ion-label {
    color: var(--ion-color-light);
  }

  ion-item::part(native) {
    background-color: transparent;
    padding: 0;
  }


}

.num-col-lbl {
  // padding-left: 2.5rem;
}

.payment-row {
  h3 {
    font-size: 0.8rem;
    color: var(--ion-color-medium);
  }

  ion-item::part(native) {
    padding: 0;
  }

  ion-input {
    text-align: left;
  }

  .pay-item {
    padding: 0.6rem 0.6rem 0.6rem 0;

    &::part(native) {
      padding: 0 16px;
    }

    // ion-label {
    //   background-color: #F8F5F5;

    //   &::before {
    //     background-color: #F8F5F5;
    //   }

    //   &::after {
    //     background-color: #F8F5F5;
    //   }
    // }
  }
}

.payment-row:nth-of-type(even) {
  background: #F8F5F5;

  ion-item {
    --background: #F8F5F5;
  }

  .pay-item {
    ion-label {
      background-color: #F8F5F5;

      &::before {
        background-color: #F8F5F5;
      }

      &::after {
        background-color: #F8F5F5;
      }
    }
  }
}

.payment-row:nth-of-type(odd) {
  background: #fcfcfc;

  ion-item {
    --background: #fcfcfc;
  }

  .pay-item {
    ion-label {
      background-color: #fcfcfc;

      &::before {
        background-color: #fcfcfc;
      }

      &::after {
        background-color: #fcfcfc;
      }
    }
  }
}

@media (min-width: 500px) {
  .save-button {
    width: 10rem;
  }
}

@media (min-width: 768px) {
  .payment-hdr {
    display: flex;
    visibility: visible;
  }

  .payment-row {
    h3 {
      display: none;
      visibility: hidden;
    }

    padding-top: 0;
    padding-bottom: 0;

    ion-item {
      --min-height: 2rem;
    }

    ion-input {
      text-align: right;
    }

    .pay-item {
      padding: 0.5rem 0 0.3rem 0;

      &::part(native) {
        height: 2.3rem;
      }


      ion-label {
        display: none;
        visibility: hidden;
      }

      ion-input {
        --padding-top: 1.2rem;
      }
    }
  }

  .num-col-lbl {
    // padding-right: 2.5rem;
    text-align: right;
  }
}

@media (min-width: 992px) {
  .primary-info-row {
    ion-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .save-button {
    padding-right: 0.5rem;
  }
}
