
ion-searchbar {
  --border-radius: 10px;
}

ion-card {
  margin-bottom: -15px;
}

ion-badge {
  z-index:100;
  position: absolute;
  top: -5px;
  right: 1px;
}

.spinner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  stroke: var(--ion-color-primary);
  fill: var(--ion-color-primary);
  transform: scale(3);
}


.favCard {
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
  margin: auto;
  margin-top: 30px;

  .menuIcon {
    margin-top: -3px;
    font-size: 30px;
  }

  .menuName {
    ion-label {
      margin-top: 30px;
    }
    min-height: 90px;
  }

}

p {

  // Indens and justifies remarks
  text-indent: 15%;
  text-align: justify;
  text-justify: inter-word;

  // Shortens remarks
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
