ion-searchbar {
  --border-radius: 10px;
}

ion-content {
  --ion-background-color: #f6f6f6;
}

ion-card {
  margin-bottom: -15px;
  --ion-background-color: #FFFFFF;
}

ion-fab ion-badge {
  z-index:100;
  position: absolute;
  top: -5px;
  right: 1px;
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

.spinner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  stroke: var(--ion-color-primary);
  fill: var(--ion-color-primary);
  transform: scale(3);
}

.favCard {
  height: 255px;
  // border-radius: 10px;
  // box-shadow: 1px 01px 3px 1px rgba(0,0,0,0.19);
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.19);
  margin: auto;
  margin-top: 30px;

  .order-id {
    margin-top: 5px;
  }

  .cartIcon {
    font-size: 30px;
  }

  .contactIcon {
    font-size: 15px;
    margin-left: 15px;
  }

  .menuDetail {
    min-height: 80px;
  }

  .contact-no {
    --min-height: 0px;
  }

  .address {
    --min-height: 60px;
  }

}

.action-buttons {
  display: grid;
  grid-template-columns: auto 80px;
  align-content: center;
  font-size: 5px;
}

p {
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.separator {
  border-top: 0.5px solid #f0eded;
}

.empty-space {
  margin-bottom: 200px;
}
