<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/orders"
      ></ion-back-button>
    </ion-buttons>
    <ion-searchbar #orderSearchBar placeholder="Search orders"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-adding">
  <ion-fab
    #purchaseListFab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="!isFetching">
    <ion-badge mode="ios" color="warning">{{ this.purchasePrintPreview.orderId.length }}</ion-badge>
    <ion-fab-button color="success">
      <ion-icon src="../../assets/icons/list-checks.svg"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top" *ngIf="purchasePrintPreview.orderId.length>0">
      <ion-fab-button color="light" (click)="onPrintPurchaseList()">
        <ion-icon name="print-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light"  (click)="onClearPurchaseList()">
        <ion-icon src="../../assets/icons/list-remove.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-grid *ngIf="orders.length>0">
    <ion-row>
      <ion-col
        size-xs="12"
        size-sm="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let order of orders"
      >
        <ion-card class="favCard">
          <div class="card-top"></div>

          <ion-item class="order-id">
            <ion-icon
              class="cartIcon"
              name="cart-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label
              >{{ order.orderId.toString().padStart(8, "0") }}</ion-label
            >
            <ion-badge [color]="getStatusColor(order.orderStatus)"
              >{{ order.orderStatus }}</ion-badge
            >
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="person-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            {{ order.customer.customerName }}
          </ion-item>

          <ion-item lines="none" class="contact-no">
            <ion-icon
              class="contactIcon"
              name="call-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-card-subtitle>
              <p>{{ order.customer.contactNo }}</p>
            </ion-card-subtitle>
          </ion-item>

          <ion-item class="address" lines="none">
            <ion-icon
              class="contactIcon"
              name="location-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-card-subtitle class="ion-no-padding ion-no-margin">
              <p>{{ order.customer.address }}</p>
            </ion-card-subtitle>
          </ion-item>

          <div class="separator"></div>

          <div class="action-buttons">
            <div>
              <ion-button
                [disabled]="purchasePrintPreview.orderId.includes(order.orderId)"
                class="ion-no-padding ion-no-margin"
                expand="full"
                mode="ios"
                color="success"
                (click)="onAddToPurchaseList(order.orderId)"
                ><ion-icon
                  slot="start"
                  src="../../assets/icons/list-add.svg"
                ></ion-icon>
                Add to Purchase List</ion-button
              >
            </div>
            <div>
              <ion-button
                class="ion-no-padding ion-no-margin"
                expand="full"
                mode="ios"
                color="secondary"
                fill="clear"
                (click)="onEditOrder(order.orderId)"
                ><ion-icon name="chevron-forward-sharp"></ion-icon
              ></ion-button>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreOrders($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more menus..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="empty-space"></div>
</ion-content>
