<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="tertiary">

      <ion-tab-button tab="orders">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Orders</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="purchases">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Purchases</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="menus">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>Menus</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="items">
        <ion-icon src="../../assets/icons/items.svg"></ion-icon>
        <ion-label>Items</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="customers">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Customers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="options">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>Options</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
