.none {
  display: none;
}

ion-content {
  --ion-background-color: #f6f6f6;
}

ion-card {
  --ion-background-color: #ffffff;
}

ion-searchbar {
  --box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  --background: #f6f6f6;
  --border-radius: 5px;
  padding-inline-start: 1px;
  padding-inline-end: 15px;
}

.card-holder {
  margin: 20px 20px 0 20px;
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

.spinner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ion-spinner {
    stroke: var(--ion-color-primary);
    fill: var(--ion-color-primary);
    transform: scale(3);
  }
}

.separator {
  border-top: 1px solid var(--ion-color-medium);
}

.card-item {
  height: 165px;
  margin: auto;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19);

  h5 {
    text-align: left;
  }

  .icon {
    // primary
    filter: invert(52%) sepia(68%) saturate(3904%) hue-rotate(322deg)
      brightness(89%) contrast(108%);
  }

  .total-cost {
    padding-left: 50px;
  }
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.item-icon {
  margin-right: 20px;
}

.item-info {
  --min-height: 10px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 60px;
}

ion-popover {
  --backdrop-opacity: 0;
}

#print {
  /* hide the printing component from @media screen */
  display: none;
  visibility: hidden;
}

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  #print {
    font-size: x-small;
    display: block !important;
    visibility: visible;
    // margin-top: -20px;


    .receipt-header {
      width: 240px;
      margin-top: 5px;
      display: grid;
      grid-template-columns: auto auto;

      .receipt-info {
        text-align: center;
        grid-column: 1 / 3;
      }

      .receipt-date {
        text-align: left;
      }

      .receipt-no {
        text-align: right;
      }
    }

    .desc-one {
      width: 240px;
      margin-top: 5px;
      display: grid;
      grid-template-columns: auto 60px;

      .barcode {
        text-align: left;
      }

      .price {
        text-align: right;
      }
    }

    .total {
      width: 240px;
      margin-top: 5px;
      display: grid;
      grid-template-columns: 40px auto;

      .total-desc {
        text-align: left;
      }

      .total-amt {
        text-align: right;
      }
    }
  }
  ion-header,
  ion-content {
    visibility: hidden !important;
    display: none;
  }
}
