ion-content {
  --padding-start: 5%;
  --padding-end: 5%;
  --padding-top: 5%;

  ion-item {
    padding: 10px 0;
  }

  icon-img {
    font-size: 1px;
  }

  .save-button {
    margin: 1rem 0 1rem 0;
    height: 3.3rem;
  }
}
