<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>Item</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="contentForm">
    <ion-item fill="outline">
      <ion-icon slot="start" src="../../assets/icons/inventory.svg" color="primary"></ion-icon>
      <ion-input
        [value]="contentForm.value.item.itemName"
        (click)="onItemSearch()"
        readonly="true"
        placeholder="Item"
      ></ion-input>
      <ion-button
        mode="ios"
        class="search-button"
        slot="end"
        size="small"
        fill="clear"
        (click)="onItemSearch()"
      >
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item fill="outline">
      <ion-icon
        slot="start"
        src="../../assets/icons/measuring-tape.svg"
        color="primary"
      ></ion-icon>
      <ion-input
        [value]="contentForm.value.requiredUom.uomName"
        (click)="onUomSearch()"
        readonly="true"
        placeholder="Uom"
      ></ion-input>
      <ion-button
        mode="ios"
        class="search-button"
        slot="end"
        size="small"
        fill="clear"
        (click)="onUomSearch()"
      >
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item fill="outline">
      <ion-icon
        slot="start"
        src="../../assets/icons/docqty.svg"
        class="icon-img"
        color="primary"
      ></ion-icon>
      <ion-input
        formControlName="requiredQty"
        placeholder="Document Quantity"
        type="number"
        maxlength="20"
      >
      </ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-icon slot="start" src="../../assets/icons/actqty.svg" color="primary"></ion-icon>
      <ion-input
      formControlName="receivedQty"
        placeholder="Actual Quantity"
        type="number"
        maxlength="20"
      >
      </ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-icon
        slot="start"
        src="../../assets/icons/docwt.svg"
        class="icon-img"
        color="primary"
      ></ion-icon>
      <ion-input
      formControlName="requiredWeightKg"
        placeholder="Document Weight"
        type="number"
        maxlength="20"
      >
      </ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-icon slot="start" src="../../assets/icons/actwt.svg" color="primary"></ion-icon>
      <ion-input
      formControlName="receivedWeightKg"
        placeholder="Actual Weight"
        type="number"
        maxlength="20"
      >
      </ion-input>
    </ion-item>
  </form>
  <ion-button class="save-button" expand="block" (click)="onSaveAddOnContent()"
    >save</ion-button
  >
</ion-content>
