<ion-header>
  <ion-toolbar color="danger">
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openCustom()">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-searchbar #itemSearchBar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isFetching">
    <ion-fab-button color="success" (click)="onAddProduction()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

</ion-content>
