<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar #productionSearchBar placeholder="Butchery Productions"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isFetching">
    <ion-fab-button color="success" (click)="onAddProduction()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <!-- <ion-grid *ngIf="productions.length>0">
    <ion-row>
      <ion-col
        size-xs="12"
        size-sm="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let production of productions"
      >
        <ion-card class="favCard">
          <div class="card-top"></div>

          <ion-item class="order-id">
            <ion-icon
              class="cartIcon"
              name="copy-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label
              >{{ production.butcheryProductionId.toString().padStart(8, "0") }}</ion-label
            >
            <ion-badge [color]="getStatusColor(production.productionStatus)"
              >{{ production.productionStatus }}</ion-badge
            >
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="calendar-outline"
              color="primary"
              slot="start"
            ></ion-icon>
              <p>{{ production.dateCreated | date:'MMM dd, yyyy hh:mm a' }}</p>
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="business-outline"
              color="primary"
              slot="start"
            ></ion-icon>
              <p>{{ production.warehouse.warehouseName }}</p>
          </ion-item>

          <div class="separator"></div>

          <div class="action-buttons">
            <ion-item lines="none">
              <ion-icon
                class="totalIcon"
                name="calculator-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-card-title>
                {{ production.totalAmount | number:'1.2-2' }}
              </ion-card-title>
            </ion-item>
            <div>
              <ion-button
                class="ion-no-padding ion-no-margin"
                expand="full"
                mode="ios"
                color="secondary"
                fill="clear"
                (click)="onEditProduction(production.butcheryProductionId)"
              >
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->



  <ion-grid>
    <ion-row class="data-hdr">
      <ion-col size-lg="1">
        <ion-item lines="none"
          ><ion-label><h2>Production No.</h2></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-lg="2.5">
        <ion-item lines="none"
          ><ion-label><h2>Total Produced Kg.</h2></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-lg="1">
        <ion-item lines="none"
          ><ion-label><h2>Status</h2></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-lg="1.5">
        <ion-item lines="none"
          ><ion-label><h2>Created On</h2></ion-label></ion-item
        >
      </ion-col>
    </ion-row>
    <ion-row class="data-row" *ngFor="let production of productions">
      <div class="option-buttons">
        <ion-item lines="none">
          <ion-button
            class="delete-item-button"
            (click)="onEditProduction(production.butcheryProductionId)"
            mode="ios"
            slot="end"
            fill="clear"
            color="medium"
            size="default"
          >
            <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1">
        <ion-item lines="none"
          ><ion-label
            ><h3>Produciton No.</h3>
            {{ production.butcheryProductionId }}</ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="2.5">
        <ion-item lines="none"
          ><ion-label
            ><h3>Total Produced Kg.</h3>
            {{ production.totalProducedWeightKg | number:'1.2-2' }}</ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1">
        <ion-item lines="none">
          <ion-label
            ><h3>Status</h3>
            <ion-badge [color]="getStatusColor(production.productionStatus)"
              >{{ production.productionStatus }}</ion-badge
            ></ion-label
          >
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1.5">
        <ion-item lines="none"
          ><ion-label
            ><h3>Created On</h3>
            {{ production.dateCreated| date:'MMM dd, yyyy hh:mm a' }}</ion-label
          ></ion-item
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreProductions($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="empty-space"></div>
</ion-content>
