<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/productions"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Production Details</ion-title>
    <ion-buttons slot="primary" *ngIf="!production.butcheryProductionId && !isFetching">
      <ion-button (click)="onSaveProduction()" [disabled]="isUploading">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-card *ngIf="!isFetching">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Primary Information</ion-card-title>
    </ion-item>
    <ion-grid>
      <ion-row class="primary-info-row">
        <ion-col *ngIf="production.butcheryProductionId">
          <ion-item fill="outline">
            <ion-icon
              class="cartIcon"
              name="log-out-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Production No.</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ production.butcheryProductionId }}"
              readonly="true"
            ></ion-input>

            <ion-button
              #statusButton
              *ngIf="productionDetailsConfig.productionStatusButton && !isUploading"
              fill="clear"
              size="small"
              slot="end"
              mode="ios"
              (click)="onShowPopOver($event)"
            >
              <ion-badge [color]="productionDetailsConfig.productionStatusColor"
                >{{production.productionStatus}}
              </ion-badge>
            </ion-button>

            <ion-popover
              #statusPopover
              *ngIf="productionDetailsConfig.productionStatusPopover"
              triggerAction="click"
              dismissOnSelect="true"
              [isOpen]="statusPopoverOpen"
              (didDismiss)="statusPopoverOpen = false"
            >
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item
                      #postedStatus
                      *ngIf="productionDetailsConfig.postedStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="full"
                      [button]="true"
                      (click)="onUpdateStatus('Posted')"
                    >
                      <ion-label>Post</ion-label>
                    </ion-item>
                    <ion-item
                      #cancelledStatus
                      *ngIf="productionDetailsConfig.cancelledStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="none"
                      [button]="true"
                      (click)="onUpdateStatus('Cancelled')"
                    >
                      <ion-label color="primary">Cancel</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
            <ion-badge
              #statusBadge
              slot="end"
              [color]="productionDetailsConfig.productionStatusColor"
              *ngIf="productionDetailsConfig.productionStatusBadge"
            >
              {{production.productionStatus}}
            </ion-badge>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6" *ngIf="production.butcheryProductionId">
          <ion-item fill="outline">
            <ion-icon
              name="calendar-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Date Created</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ production.dateCreated | date:'MMM dd, yyyy hh:mm a' }}"
              readonly="true"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              src="../../assets/icons/warehouse02.svg"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Warehouse</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ warehouse.warehouseName }}"
              readonly="true"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              name="calculator-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Total</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ totalAmount | number:'1.2-2' }}"
              readonly="true"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="!isFetching" class="card-holder">
    <div class="card-top"></div>
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <ion-card-title class="font-large">Production Sources</ion-card-title>
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
      >
        <ion-searchbar
          searchIcon="barcode-outline"
          placeholder="Shortcut code ( Received Item ID - Price e.g. 123-100.5)"
          (keypress)="onGetSourceBySourceId($event)"
          #sourceSearchBar
        ></ion-searchbar>
      </ion-item>
    </ion-card-header>
    <div class="separator"></div>

    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6" size-lg="4" *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined">
          <ion-card class="card-item insert-item-card" button="true" (click)="onManuallyAddProductionSource()">
            <ion-card-content class="insert-item">
              <ion-label>INSERT ITEM...</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col
          size-xs="12"
          size-md="6"
          size-lg="4"
          *ngFor="let source of productionSources"
        >
          <ion-card class="card-item">
            <ion-item lines="none" class="item-ids">
              <ion-icon
                class="item-icon"
                name="attach-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-button
                *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
                (click)="onDeleteProductionSource(source)"
                class="ion-no-margin ion-no-padding"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item lines="none" class="item-info">
              <ion-card-title
                mode="md"
                class="ion-no-padding ion-no-margin font-medium"
                >{{ source.item.itemName
                }}</ion-card-title
              >
            </ion-item>

            <ion-item lines="none" class="item-info">
              <ion-card-subtitle>
                {{ source.requiredQty| number:'1.0-2' }}{{ source.requiredUom.uomCode }} / {{ source.requiredWeightKg| number:'1.0-2' }}Kg
              </ion-card-subtitle>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="!isFetching" class="card-holder">
    <div class="card-top"></div>
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <ion-card-title class="font-large">Produced Items</ion-card-title>
      </ion-item>
    </ion-card-header>
    <ion-card-header
      class="ion-no-padding"
      *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
    >
      <ion-item lines="none">
        <ion-searchbar
          searchIcon="barcode-outline"
          placeholder="Barcode"
          (keypress)="onGetItemByItemCode($event)"
          #itemSearchBar
        ></ion-searchbar>
      </ion-item>
    </ion-card-header>
    <div class="separator"></div>

    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6" size-lg="4" *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined">
          <ion-card class="card-item insert-item-card" button="true" (click)="onManuallyAddProductionItem()">
            <ion-card-content class="insert-item">
              <ion-label>INSERT ITEM...</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col
          size-xs="12"
          size-md="6"
          size-lg="4"
          *ngFor="let item of productionItems"
        >
          <ion-card class="card-item">
            <ion-item lines="none" class="item-ids">
              <ion-icon
                class="item-icon"
                name="barcode-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-button
                *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
                (click)="onDeleteProductionItem(item)"
                class="ion-no-margin ion-no-padding"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
              <ion-card-subtitle>{{item.barcode}}</ion-card-subtitle>
            </ion-item>

            <ion-item lines="none" class="item-info">
              <ion-card-title
                mode="md"
                class="ion-no-padding ion-no-margin font-medium"
                >{{ item.item.itemName }}</ion-card-title
              >
            </ion-item>
            <ion-item lines="none" class="item-info">
              <ion-card-subtitle class="ion-no-padding ion-no-margin"
                >{{ item.producedQty }}{{item.requiredUom.uomCode }} / {{
                item.producedWeightKg | number:'1.2-2' }}Kg</ion-card-subtitle
              >
            </ion-item>

            <ion-item lines="none" class="card-footer">
              <ion-card-title slot="end" mode="md" class="font-medium"
                >Cost: {{ item.totalAmount| number:'1.2-2' }}</ion-card-title
              >
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
