<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/productions"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Production Details</ion-title>
    <ion-buttons slot="primary" *ngIf="!production.butcheryProductionId">
      <ion-button (click)="onSaveProduction()" [disabled]="isUploading">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-card *ngIf="!isFetching" class="card-holder">
    <div class="card-top"></div>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-xl="4" push-xl="8">
          <ion-item lines="none" *ngIf="production.butcheryProductionId">
            <ion-icon
              class="contactIcon"
              name="calendar-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label>
              <ion-label class="ion-text-wrap"
                >{{ production.dateCreated | date:'MMM dd, yyyy hh:mm a'
                }}</ion-label
              >
            </ion-label>
          </ion-item>

          <ion-item lines="none" *ngIf="production.butcheryProductionId">
            <ion-icon
              class="cartIcon"
              name="copy-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label
              >{{ production.butcheryProductionId.toString().padStart(8, "0")
              }}</ion-label
            >

            <!-- Button to change the status of the production -->
            <ion-button
              #statusButton
              *ngIf="productionDetailsConfig.productionStatusButton && !isUploading"
              fill="clear"
              size="small"
              mode="ios"
              (click)="onShowPopOver($event)"
            >
              <ion-badge [color]="productionDetailsConfig.productionStatusColor"
                >{{production.productionStatus}}
              </ion-badge>
            </ion-button>

            <ion-popover
              #statusPopover
              *ngIf="productionDetailsConfig.productionStatusPopover"
              triggerAction="click"
              dismissOnSelect="true"
              [isOpen]="statusPopoverOpen"
              (didDismiss)="statusPopoverOpen = false"
            >
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item
                      #postedStatus
                      *ngIf="productionDetailsConfig.postedStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="full"
                      [button]="true"
                      (click)="onUpdateStatus('Posted')"
                    >
                      <ion-label>Post</ion-label>
                    </ion-item>
                    <ion-item
                      #cancelledStatus
                      *ngIf="productionDetailsConfig.cancelledStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="none"
                      [button]="true"
                      (click)="onUpdateStatus('Cancelled')"
                    >
                      <ion-label color="primary">Cancel</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
            <!-- **************************************** -->

            <!-- Badge that indicates the status of the production -->
            <ion-badge
              #statusBadge
              [color]="productionDetailsConfig.productionStatusColor"
              *ngIf="productionDetailsConfig.productionStatusBadge"
            >
              {{production.productionStatus}}
            </ion-badge>
            <!-- *************************************** -->
          </ion-item>
        </ion-col>

        <ion-col size-xs="12" size-xl="7" pull-xl="4">
          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="business-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-card-title mode="md"
                >{{ warehouse.warehouseName }}</ion-card-title
              >
            </ion-label>
            <ion-button
              #statusButton
              *ngIf="production.productionStatus === 'Unposted' || production.productionStatus === undefined"
              (click)="onWarehouseSearch()"
              fill="clear"
              size="small"
              mode="ios"
              id="click-trigger"
            >
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="calculator-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-card-title mode="md"
              >{{ totalAmount | number:'1.2-2' }}</ion-card-title
            >
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="card-holder">
    <div class="card-top"></div>
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <ion-card-title>Production Sources</ion-card-title>
      </ion-item>
    </ion-card-header>
    <ion-card-header
      class="ion-no-padding"
      *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
    >
      <ion-item lines="none">
        <ion-searchbar
          searchIcon="barcode-outline"
          placeholder="Shortcut code"
          (keypress)="onGetSourceBySourceId($event)"
          #sourceSearchBar
        ></ion-searchbar>
      </ion-item>
    </ion-card-header>
    <div class="separator"></div>

    <ion-grid>
      <ion-row>
        <ion-col
          size-xs="12"
          size-md="6"
          size-lg="4"
          *ngFor="let source of productionSources"
        >
          <ion-card class="card-item">
            <ion-item lines="none" class="itme-info">
              <ion-icon
                class="item-icon"
                name="attach-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-button
                *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
                (click)="onDeleteProductionSource(source)"
                class="ion-no-margin ion-no-padding"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
              <ion-card-subtitle
                >{{
                source.butcheryReceivingItem.butcheryReceivingItemId.toString().padStart(8,
                "0") }}</ion-card-subtitle
              >
            </ion-item>

            <ion-item lines="none" class="item-info">
              <ion-card-title mode="md" class="ion-no-padding ion-no-margin"
                >{{ source.butcheryReceivingItem.item.itemName
                }}</ion-card-title
              >
            </ion-item>
            <ion-item lines="none" class="item-info">
              <ion-card-subtitle class="ion-no-padding ion-no-margin"
                >{{ source.butcheryReceivingItem.butcheryReceiving.dateCreated |
                date:'MMM dd, yyyy hh:mm a' }}</ion-card-subtitle
              >
            </ion-item>
            <ion-item
              lines="none"
              class="item-info"
              *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
            >
              <ion-card-subtitle class="ion-no-padding ion-no-margin"
                >{{
                source.butcheryReceivingItem.receivedQty-source.butcheryReceivingItem.usedQty
                | number:'1.0-2' }}{{
                source.butcheryReceivingItem.requiredUom.uomCode
                }}</ion-card-subtitle
              >
            </ion-item>

            <ion-item lines="none" class="card-footer">
              <ion-card-title slot="end" mode="md"
                >{{ source.requiredQty | number:'1.2-2' }}{{
                source.butcheryReceivingItem.requiredUom.uomCode
                }}</ion-card-title
              >
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="card-holder">
    <div class="card-top"></div>
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <ion-card-title>Production Items</ion-card-title>
      </ion-item>
    </ion-card-header>
    <ion-card-header
      class="ion-no-padding"
      *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
    >
      <ion-item lines="none">
        <ion-searchbar
          searchIcon="barcode-outline"
          placeholder="Barcode"
          (keypress)="onGetItemByItemCode($event)"
          #itemSearchBar
        ></ion-searchbar>
      </ion-item>
    </ion-card-header>
    <div class="separator"></div>

    <ion-grid>
      <ion-row>
        <ion-col
          size-xs="12"
          size-md="6"
          size-lg="4"
          *ngFor="let item of productionItems"
        >
          <ion-card class="card-item">
            <ion-item lines="none" class="itme-info">
              <ion-icon
                class="item-icon"
                name="barcode-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-button
                *ngIf="production.productionStatus === 'Unposted'  || production.productionStatus === undefined"
                (click)="onDeleteProductionItem(item)"
                class="ion-no-margin ion-no-padding"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
              <ion-card-subtitle>{{item.barcode}}</ion-card-subtitle>
            </ion-item>

            <ion-item lines="none" class="item-info">
              <ion-card-title mode="md" class="ion-no-padding ion-no-margin"
                >{{ item.item.itemName }}</ion-card-title
              >
            </ion-item>
            <ion-item lines="none" class="item-info">
              <ion-card-subtitle class="ion-no-padding ion-no-margin"
                >{{ item.producedQty }}{{item.requiredUom.uomCode }} @{{
                item.productionCost | number:'1.2-2' }}/{{
                item.requiredUom.uomCode }}</ion-card-subtitle
              >
            </ion-item>

            <ion-item lines="none" class="card-footer">
              <ion-card-title slot="end" mode="md"
                >{{ item.totalAmount| number:'1.2-2' }}</ion-card-title
              >
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
