.none {
  display: none;
}

ion-header {
  // background-color: #f6f6f6;
  ion-toolbar {
    --box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  }
}

ion-content {
  // overwrite inline styles
  // --offset-bottom: auto!important;
  // --overflow: hidden;
  // overflow: auto;
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  // --ion-background-color: #f6f6f6;

  &::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 0;
}
}

ion-card {
  --ion-background-color: #ffffff;
}

ion-searchbar {
  --box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  --background: #f6f6f6;
  --border-radius: 5px;
  padding-inline-start: 1px;
  padding-inline-end: 15px;
}

.card-holder {
  margin: 20px 20px 0 20px;
  .card-holder-icon {
    margin-inline-end: 15px;
  }
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

.spinner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ion-spinner {
    stroke: var(--ion-color-primary);
    fill: var(--ion-color-primary);
    transform: scale(3);
  }
}

.separator {
  border-top: 1px solid var(--ion-color-medium);
}

.card-item {
  height: 175px;
  margin: auto;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19);

  h5 {
    text-align: left;
  }

  .icon {
    // primary
    filter: invert(52%) sepia(68%) saturate(3904%) hue-rotate(322deg)
      brightness(89%) contrast(108%);
  }

  .total-cost {
    padding-left: 50px;
  }
}

.warehouse-items {
  margin: 15px 25px;
  ion-col {
    padding: 0 20px;
  }
}

.warehouse-item {
  // background-color:#f6f6f6;
  box-shadow: none;
  margin: auto;
  margin-top: 30px;

  img {
    border-radius: 25px 25px 25px 25px;
    width: 100%;
    margin: auto;
  }

  ion-card-header {
    padding: 10px 0;
    ion-card-title {
      font-weight: bold;
    }
  }
}

.qty-row {
  padding-left: 5px;
  ::ng-deep input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.item-icon {
  margin-right: 20px;
}

.item-info {
  --min-height: 10px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 60px;
}

ion-popover {
  --backdrop-opacity: 0;
}
.font-x-small {
  font-size: x-small;
}

.font-small {
  font-size: small;
}

.font-medium {
  font-size: medium;
}

.font-large {
  font-size: large;
}
