<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/options"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Point of Sales</ion-title>
  </ion-toolbar>

  <ion-card class="card-holder">
    <div class="card-top"></div>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12">
          <ion-item lines="none">
            <ion-icon
              class="card-holder-icon"
              name="business-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-card-title mode="md"
                >{{ warehouse.warehouseName }}</ion-card-title
              >
            </ion-label>
            <!-- <ion-button
              #statusButton
              (click)="onWarehouseSearch()"
              fill="clear"
              size="small"
              mode="ios"
              id="click-trigger"
              *ngIf="!isFetching"
            >
              <ion-icon name="search-outline"></ion-icon>
            </ion-button> -->
          </ion-item>
          <ion-item lines="none">
            <ion-searchbar
              #itemSearchBar
              placeholder="Search Inventory Item"
            ></ion-searchbar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-header>

<ion-content>
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-grid class="warehouse-items">
    <ion-row>
      <ion-col
        size-xs="6"
        size-sm="4"
        size-md="3"
        size-lg="2"
        *ngFor="let item of posItemPrices"
      >
        <ion-card class="warehouse-item" button="true" (click)="onShowOrderItemDetail(item)">
          <img src="assets/images/default_02.jpg"/>
          <ion-card-header>
            <ion-card-subtitle class="font-large truncate">{{ item.item.itemName }}</ion-card-subtitle>
            <ion-card-title class="font-medium">{{ item.defaultPrice | number:'1.2' }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="none"
      loadingText="Loading more items..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
