<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>Add-on item</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item fill="outline">
    <ion-icon slot="start" name="bookmark-outline" color="primary"></ion-icon>
    <ion-input (click)="onItemSearch('bom')" readonly="true" placeholder="Item"></ion-input>
    <ion-button mode="ios" class="search-button" slot="end" size="small" fill="clear" (click)="onItemSearch('bom')">
      <ion-icon name="search-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item fill="outline">
    <ion-icon slot="start" name="pie-chart-outline" color="primary"></ion-icon>
    <ion-input (click)="onItemSearch('bom')" readonly="true" placeholder="Uom"></ion-input>
    <ion-button mode="ios" class="search-button" slot="end" size="small" fill="clear" (click)="onItemSearch('bom')">
      <ion-icon name="search-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item fill="outline">
    <ion-icon slot="start" name="reorder-four-outline" color="primary"></ion-icon>
    <ion-input placeholder="Quantity" type="number" maxlength="20">
    </ion-input>
  </ion-item>
  <ion-item fill="outline">
    <ion-icon slot="start" name="pricetag-outline" color="primary"></ion-icon>
    <ion-input placeholder="Add-on Price" type="number" maxlength="20">
    </ion-input>
  </ion-item>
  <ion-item fill="outline">
    <ion-icon slot="start" name="swap-horizontal-outline" color="primary"></ion-icon>
    <ion-input placeholder="Alternative Item Description" type="text" maxlength="20">
    </ion-input>
  </ion-item>
  <ion-button class="save-button" expand="block">save</ion-button>
</ion-content>
