ion-content {
  --ion-background-color: #f6f6f6;
}

ion-card {
  --ion-background-color: #FFFFFF;
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

.uom-accordion {
  margin: 10px !important;
}

.item-header ion-item {
  // padding: 20px;
  margin: 25px;
}

.item-uom ion-item {
  margin: 25px;
}

.item-bom ion-item {
  margin: 25px;
}

.item-generic ion-item {
  margin: 25px;
}

.item-generic-header {
  margin: 10px !important;
}

ion-select {
  opacity: 1;
}

ion-select::part(icon) {
  display: none !important;
}

.card-holder {
  margin: 20px 20px 0 20px;
}

.separator {
  border-top: 1px solid var(--ion-color-medium);
}
