ion-content {
  --ion-background-color: #f6f6f6;
}

ion-card {
  --ion-background-color: #FFFFFF;
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

ion-row {
  padding-top: 20px;
  padding-bottom: 20px;
}
