ion-content {
  --ion-background-color: #f6f6f6;
}

ion-grid {
  padding-left: 0;
  padding-right: 0;
}

ion-col {
  padding-left: 0;
  padding-right: 0;
}

ion-card {
  --ion-background-color: #ffffff;
  margin-left: 0;
  margin-right: 0;
}

ion-select {
  --background-focused: red;
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

.item-header ion-item {
  padding: 10px 20px;
}

.item-form {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}


.images {
  margin: 20px auto -10px auto;
  padding: 20px auto;

  ion-avatar {
    border: 5px solid var(--ion-color-medium);
    width: 250px;
    height: 250px;
    margin: auto;
  }

  .file-upload-holder {
    background-color: #ffffff;
    width: 110px;
    margin: 1.2rem auto;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
}

.primary-info {
  margin: 0 -20px;
  width: 105%;

  ion-card-title {
    padding-left: 10px;
  }
}

.weight-opt-lbl {
  min-width: 100%;
}

.item-interactive-disabled .weight-opt-lbl {
  opacity: 1;
}

.weight-icon {
  min-width: 24px;
  min-height: 24px;
}

.item-uom {
  ion-item {
    margin: 25px;
  }

  ion-list {
    padding: 0;
  }
}

.uom-accordion {
  margin: 10px 0 0 0 !important;

  &::part(native) {
    --border-width: 0 0 1px 0;
  }

  ion-card-title {
    padding-left: 10px;
  }
}

.item-bom {
  ion-item {
    margin: 25px;
  }

  ion-list {
    padding: 0;
  }
}

.item-generic ion-item {
  margin: 25px;
}

.item-generic-header {
  margin: 10px 0 !important;

  &::part(native) {
    --border-width: 0 0 1px 0;
  }

  ion-card-title {
    padding-left: 10px;
  }
}

ion-select {
  opacity: 1;
}

ion-select::part(icon) {
  display: none !important;
}

.card-holder {
  margin: 20px 20px 0 20px;
}

.separator {
  border-top: 1px solid var(--ion-color-medium);
}

.two-cols {
  padding: 0;

  ion-col {
    padding: 0;
  }
}

.buttons-holder::part(native) {
  --inner-padding-end: 0;
}

.delete-item-button {
  margin: 0;
}

.delete-item-button::part(native) {
  padding: 0;
}

@media (min-width: 768px) {
  ion-col {
    padding-left: 10px;
    padding-right: 10px;
  }
}
