<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/items"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageLabel }}</ion-title>
    <ion-buttons slot="primary" *ngIf="!this.item.itemId">
      <ion-button (click)="onSave()">
        <ion-icon name="{{ postButton }}" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="item-header">
          <div class="card-top"></div>
          <form [formGroup]="itemForm">

            <ion-item fill="outline">
              <ion-icon
                slot="start"
                name="barcode-outline"
                color="primary"
              ></ion-icon>
              <ion-input
                placeholder="Code"
                type="text"
                formControlName="itemCode"
              >
              </ion-input>
            </ion-item>

            <ion-item fill="outline">
              <!-- <ion-label position="floating">Description</ion-label> -->
              <ion-icon
                slot="start"
                src="../../assets/icons/items.svg"
                color="primary"
              ></ion-icon>
              <ion-input
                placeholder="Description"
                type="text"
                formControlName="itemName"
              >
              </ion-input>
            </ion-item>

            <!-- UOMs -->
            <ion-item fill="outline">
              <ion-icon
                slot="start"
                name="scale-outline"
                color="primary"
              ></ion-icon>
              <ion-select
                #baseUom
                placeholder="Base UoM"
                interface="popover"
                [disabled]="item.itemId>0"
                (ionChange)="onBaseUomChange(baseUom.value)"
                formControlName="uom"
                *ngIf="uoms.length"
              >
                <ion-select-option *ngFor="let uom of uoms" [value]="uom"
                  >{{ uom.uomName }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item fill="outline">
              <ion-icon
                slot="start"
                name="cube-outline"
                color="primary"
              ></ion-icon>
              <ion-select
                #itemClass
                class="disabledInput"
                placeholder="Item Classification"
                formControlName="itemClass"
                interface="popover"
                [disabled]="item.itemId>0"
                (ionChange)="itemClassChange(itemClass.value)"
              >
                <ion-select-option *ngFor="let itmClass of theItemClass | keyvalue">{{ itmClass.key }}</ion-select-option>
                <!-- <ion-select-option>{{ theItemClass.Stock }}</ion-select-option>
                <ion-select-option>{{ theItemClass.Assembly }}</ion-select-option>
                <ion-select-option>{{ theItemClass.Branded }}</ion-select-option> -->
              </ion-select>
            </ion-item>


            <ion-item fill="outline">
              <ion-icon
                slot="start"
                name="pricetag-outline"
                color="primary"
              ></ion-icon>
              <ion-input
                formControlName="price"
                placeholder="Price"
                type="number"
              >
              </ion-input>
            </ion-item>

            <!-- Item Status -->
            <ion-item fill="outline" lines="none">
              <ion-label>Active</ion-label>
              <ion-toggle slot="start" formControlName="isActive"></ion-toggle>
            </ion-item>

            <ion-item lines="none" *ngIf="this.item.itemId">
              <ion-button
                (click)="onSave()"
                color="success"
                slot="end"
                size="default"
                [disabled]="isUploading"
              >
                Save
                <ion-icon name="{{ postButton }}" slot="start"></ion-icon>
              </ion-button>
            </ion-item>
          </form>
        </ion-card>
      </ion-col>

      <!-- Unit of Measure -->
      <ion-col size-xs="12" size-xl="6" *ngIf="this.item.itemClass === this.theItemClass.Stock">
        <!-- <ion-col size-xs="12" size-xl="6" *ngIf="this.item.itemId"> -->
        <ion-card class="item-uom">
          <div class="card-top"></div>

          <ion-accordion-group>
            <ion-accordion value="uoms">
              <ion-item class="uom-accordion" slot="header">
                <ion-card-title>Alternative Unit Of Measures</ion-card-title>
              </ion-item>
              <ion-grid slot="content">
                <form [formGroup]="itemUomForm">
                  <div formGroupName="itemUomId">
                    <ion-item fill="outline">
                      <ion-icon
                        slot="start"
                        name="pie-chart-outline"
                        color="primary"
                      ></ion-icon>
                      <ion-select
                        formControlName="uom"
                        placeholder="Alternative UoM"
                        interface="popover"
                        *ngIf="uoms.length"
                      >
                        <ion-select-option
                          *ngFor="let uom of uoms"
                          [value]="uom"
                          >{{ uom.uomName }}</ion-select-option
                        >
                      </ion-select>
                    </ion-item>
                  </div>
                  <ion-item fill="outline">
                    <ion-icon
                      slot="start"
                      name="flask-outline"
                      color="primary"
                    ></ion-icon>
                    <ion-input
                      formControlName="quantity"
                      placeholder="Equivalent Quantity"
                      type="number"
                    >
                    </ion-input>
                  </ion-item>
                </form>

                <ion-item lines="none">
                  <ion-button
                    (click)="onAddItemUom()"
                    color="success"
                    slot="end"
                    size="default"
                  >
                    Add
                    <ion-icon name="add" slot="start"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-grid>
            </ion-accordion>
          </ion-accordion-group>
          <div class="separator"></div>

          <!-- Item UoMs -->
          <ion-list>
            <!-- This is to prevent an error in displaying the uomCode per item uom-->
            <!-- <ion-list *ngIf="this.item.uom"> -->
            <ion-item *ngFor="let itemUom of itemUoms">
              <ion-label>
                <h2>{{ itemUom.uom.uomName }}</h2>
                <p>
                  1{{ itemUom.uom.uomCode }} is equivalent to {{
                  itemUom.quantity }}{{ baseUom.uomCode}}
                </p>
              </ion-label>
              <ion-button
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
                (click)="onDeleteItemUom(itemUom)"
              >
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>

      <!-- Bill of Materials -->
      <ion-col size-xs="12" size-xl="6" *ngIf="this.item.itemClass === theItemClass.Assembly">
        <ion-card class="item-bom">
          <div class="card-top"></div>

          <ion-accordion-group>
            <ion-accordion value="boms">
              <ion-item class="uom-accordion" slot="header">
                <ion-card-title>Bill Of Materials</ion-card-title>
              </ion-item>
              <ion-grid slot="content">
                <form [formGroup]="itemBomForm">
                  <ion-item fill="outline">
                    <ion-icon
                      slot="start"
                      src="../../assets/icons/items.svg"
                      color="primary"
                    ></ion-icon>
                    <ion-input
                      (click)="onItemSearch('bom')"
                      readonly="true"
                      formControlName="subItemName"
                      placeholder="Item"
                    ></ion-input>
                    <ion-button
                      mode="ios"
                      class="search-button"
                      slot="end"
                      size="small"
                      fill="clear"
                      (click)="onItemSearch('bom')"
                    >
                      <ion-icon
                        name="search-outline"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </ion-item>
                  <ion-item fill="outline">
                    <ion-icon
                      slot="start"
                      name="scale-outline"
                      color="primary"
                    ></ion-icon>
                    <ion-select
                      #uomSelect
                      formControlName="requiredUom"
                      placeholder="Uom"
                      interface="popover"
                    >
                      <ion-select-option
                        *ngFor="let uom of uomsForBom"
                        [value]="uom"
                        >{{ uom.uomName }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item fill="outline">
                    <ion-icon
                      slot="start"
                      name="flask-outline"
                      color="primary"
                    ></ion-icon>
                    <ion-input
                      #quantityInput
                      formControlName="requiredQty"
                      placeholder="Quantity"
                      type="number"
                      inputmode="decimal"
                      min="0"
                      value="0"
                    >
                    </ion-input>
                  </ion-item>
                </form>

                <ion-item lines="none">
                  <ion-button
                    (click)="onAddItemBom()"
                    color="success"
                    slot="end"
                    size="default"
                  >
                    Add
                    <ion-icon name="add" slot="start"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-grid>
            </ion-accordion>
          </ion-accordion-group>
          <div class="separator"></div>

          <!-- Item BoMs -->
          <ion-list>
            <ion-item *ngFor="let itemBom of itemBoms">
              <ion-label>
                <h2>{{ itemBom.subItem.itemName }}</h2>
                <p>{{itemBom.requiredQty}}{{itemBom.requiredUom.uomCode }}</p>
              </ion-label>
              <ion-button
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
                (click)="onDeleteItemBom(itemBom)"
              >
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>

      <!-- Generic Item -->
      <ion-col size-xs="12" size-xl="6" *ngIf="this.item.itemClass === theItemClass.Branded">
        <ion-card class="item-generic">
          <div class="card-top"></div>

          <ion-item class="item-generic-header" lines="none">
            <ion-card-title>Stock Item</ion-card-title>
          </ion-item>
          <div class="separator"></div>
          <ion-grid>
            <form [formGroup]="itemGenericForm">
              <ion-item fill="outline">
                <ion-icon
                  slot="start"
                  src="../../assets/icons/items.svg"
                  color="primary"
                ></ion-icon>
                <ion-input
                  (click)="onItemSearch()"
                  readonly="true"
                  formControlName="subItemName"
                  placeholder="Item"
                ></ion-input>
                <ion-button
                  mode="ios"
                  class="search-button"
                  slot="end"
                  size="small"
                  fill="clear"
                  (click)="onItemSearch()"
                >
                  <ion-icon name="search-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item fill="outline">
                <ion-icon
                  slot="start"
                  name="scale-outline"
                  color="primary"
                ></ion-icon>
                <ion-select
                  #uomSelect
                  formControlName="requiredUom"
                  placeholder="Uom"
                  interface="popover"
                >
                  <ion-select-option
                    *ngFor="let uom of uomsForGeneric"
                    [value]="uom"
                    >{{ uom.uomName }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item fill="outline">
                <ion-icon
                  slot="start"
                  name="flask-outline"
                  color="primary"
                ></ion-icon>
                <ion-input
                  #quantityInput
                  formControlName="requiredQty"
                  placeholder="Quantity"
                  type="number"
                  inputmode="decimal"
                  min="0"
                  value="0"
                >
                </ion-input>
              </ion-item>
            </form>

            <ion-item lines="none"  *ngIf="this.item.itemId">
              <ion-button
                (click)="updateItemGeneric()"
                color="success"
                slot="end"
                size="default"
                [disabled]="isUploading"
              >
                Save
                <ion-icon name="checkmark-outline" slot="start"></ion-icon>
              </ion-button>
            </ion-item>

          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
