<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/options"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Inventory Report</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="printPage()" *ngIf="!isFetching">
        <ion-icon name="print-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment value="storage_provider" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="storage_provider">
    <ion-label>Storage Provider</ion-label>
  </ion-segment-button>
  <ion-segment-button value="warehouse">
    <ion-label>Warehouse</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-card class="card-holder">
    <div class="card-top"></div>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12">
          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="business-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-card-title mode="md"
                >{{ currentWarehouse }}</ion-card-title
              >
            </ion-label>
            <ion-button
              #statusButton
              (click)="onWarehouseSearch()"
              fill="clear"
              size="small"
              mode="ios"
              id="click-trigger"
            >
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-searchbar
              #itemSearchBar
              placeholder="Search Inventory Item"
            ></ion-searchbar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid *ngIf="currentSearch === 'warehouse'">
    <!-- <ion-row>
      <ion-col
        size-xs="12"
        size-sm="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let itemCost of itemCostsByPage"
      >
        <ion-card class="favCard">
          <div class="card-top"></div>
          <ion-item class="menuName">
            <ion-avatar slot="start">
              <img src="../../assets/icons/items.svg" class="icon" />
            </ion-avatar>
            <ion-label>{{ itemCost.item.itemName }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-card-subtitle class="cost-details"
              >{{ itemCost.qty | number:'1.0-3' }}{{ itemCost.item.uom.uomCode
              }} @ {{ itemCost.cost | number:'1.2' }}</ion-card-subtitle
            >
          </ion-item>
          <ion-item lines="none" class="card-footer">
            <ion-label class="cost-details" slot="end"
              >{{ itemCost.qty * itemCost.cost | number:'1.2' }}</ion-label
            >
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row> -->
    <ion-row class="batches-hdr">
      <ion-col size-md="6" size-lg="7">
        <ion-item lines="none"><ion-label><h2>Item Description</h2></ion-label></ion-item>
      </ion-col>
      <!-- <ion-col size-md="2" size-lg="1">
        <ion-item lines="none"><ion-label><h2>UoM</h2></ion-label></ion-item>
      </ion-col> -->
      <ion-col size-md="3" size-lg="3">
        <ion-item lines="none"><ion-label class="item-qty-lbl"><h2>Quantity</h2></ion-label></ion-item>
      </ion-col>
      <ion-col size-md="3" size-lg="2">
        <ion-item lines="none"><ion-label class="item-qty-lbl"><h2>Weight(Kg)</h2></ion-label></ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="batches-row" *ngFor="let itemCost of itemCostsByPage">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="7">
        <ion-item lines="none"
          ><ion-label><h3>Item Description</h3>  {{ itemCost.item.itemName }}</ion-label></ion-item
        >
      </ion-col>
      <!-- <ion-col size-xs="3" size-sm="2" size-md="2" size-lg="1">
        <ion-item lines="none"
          ><ion-label><h3>UoM</h3>
            {{ itemCost.item.uom.uomCode.toUpperCase }}</ion-label
          ></ion-item
        >
      </ion-col> -->
      <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3">
        <ion-item lines="none"
          ><ion-label class="item-qty-lbl"><h3>Quantity</h3>
            {{ itemCost.qty | number:'1.0-3' }} {{ itemCost.item.uom.uomCode.toUpperCase() }}</ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="2">
        <ion-item lines="none"
          ><ion-label class="item-qty-lbl"><h3>Weight(Kg)</h3> {{ itemCost.weightKg | number:'1.0-3' }}</ion-label></ion-item
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="currentSearch === 'storage_provider'">
    <ion-row class="batches-hdr">
      <ion-col size-md="6" size-lg="7">
        <ion-item lines="none"><ion-label><h2>Item Description</h2></ion-label></ion-item>
      </ion-col>
      <!-- <ion-col size-md="2" size-lg="1">
        <ion-item lines="none"><ion-label><h2>UoM</h2></ion-label></ion-item>
      </ion-col> -->
      <ion-col size-md="3" size-lg="3">
        <ion-item lines="none"><ion-label class="item-qty-lbl"><h2>Quantity</h2></ion-label></ion-item>
      </ion-col>
      <ion-col size-md="3" size-lg="2">
        <ion-item lines="none"><ion-label class="item-qty-lbl"><h2>Weight(Kg)</h2></ion-label></ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="batches-row" *ngFor="let content of butcheryBatchInventories">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="7">
        <ion-item lines="none"
          ><ion-label><h3>Item Description</h3>  {{ content.item.itemName }}</ion-label></ion-item
        >
      </ion-col>
      <!-- <ion-col size-xs="3" size-sm="2" size-md="2" size-lg="1">
        <ion-item lines="none"
          ><ion-label><h3>UoM</h3>
            {{ content.item.uom.uomCode }}</ion-label
          ></ion-item
        >
      </ion-col> -->
      <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3">
        <ion-item lines="none"
          ><ion-label class="item-qty-lbl"><h3>Quantity</h3>
            {{ content.remainingQty | number:'1.0-3' }} {{ content.item.uom.uomCode.toUpperCase() }}</ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="2">
        <ion-item lines="none"
          ><ion-label class="item-qty-lbl"><h3>Weight(Kg)</h3> {{ content.remainingWeightKg | number:'1.0-3' }}</ion-label></ion-item
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="none"
      loadingText="Loading more items..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- <ion-content *ngIf="currentSearch === 'storage_provider'">
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-grid>
    <ion-row class="batches-hdr">
      <ion-col size-lg="1">
        <ion-item lines="none"><ion-label><h2>Batch No.</h2></ion-label></ion-item>
      </ion-col>
      <ion-col size-lg="1.5">
        <ion-item lines="none"><ion-label><h2>Date of Receipt</h2></ion-label></ion-item>
      </ion-col>
      <ion-col size-lg="2.5">
        <ion-item lines="none"><ion-label><h2>Storage Provider</h2></ion-label></ion-item>
      </ion-col>
      <ion-col size-lg="2.5">
        <ion-item lines="none"><ion-label><h2>Remarks</h2></ion-label></ion-item>
      </ion-col>
      <ion-col size-lg="1">
        <ion-item lines="none"><ion-label><h2>Status</h2></ion-label></ion-item>
      </ion-col>
      <ion-col size-lg="2.5">
        <ion-item lines="none"><ion-label><h2>Created On</h2></ion-label></ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="batches-row" *ngFor="let inventoryItem of butcheryBatchInventories">
      <div class="option-buttons">
        <ion-item lines="none">
          <ion-button class="delete-item-button" (click)="onEditBatch(batch.butcheryBatchId)" mode="ios" slot="end" fill="clear" color="medium" size="default">
            <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1">
        <ion-item lines="none"
          ><ion-label><h3>Batch No.</h3>  {{ batch.butcheryBatchId }}</ion-label></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1.5">
        <ion-item lines="none"
          ><ion-label><h3>Date of Receipt</h3>
            {{ batch.dateReceived | date:'MMM dd, yyyy' }}</ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="2.5">
        <ion-item lines="none"
          ><ion-label><h3>Storage Provider</h3>
            {{ batch.vendorWarehouse.vendorWarehouseName }}</ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="2.5">
        <ion-item lines="none"
          ><ion-label><h3>Remarks</h3> {{ batch.remarks }} <span *ngIf="!batch.remarks">-</span></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1">
        <ion-item lines="none"
          ><ion-label><h3>Status</h3>  {{ batch.batchStatus }}</ion-label></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="2.5">
        <ion-item lines="none"
          ><ion-label><h3>Created On</h3>
            {{ batch.dateCreated | date:'MMM dd, yyyy hh:mm a' }}</ion-label
          ></ion-item
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"

  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more items..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content> -->

<div id="printDiv" class="navbar">
  <button
    #printButton
    styleSheetFile="assets/css/inventories-print-preview.component.css"
    printSectionId="print"
    ngxPrint
    class="split"
  >
    <img src="../../../assets/icons/printer.svg" />
  </button>
</div>

<div id="print">
  <div class="inventory-report">
    <div class="inventory-header">
      <div class="inventory-detail">
        <!-- <img src="../../../assets/icons/calendar.svg" /> -->
        {{ warehouse.warehouseName }} Inventory
      </div>
    </div>

    <table id="inventories">
      <thead>
        <tr>
          <th class="auto-number">#</th>
          <th class="left-aligned">ITEM DESCRIPTION</th>
          <th class="right-aligned">QUANTITY</th>
          <th class="right-aligned">COST</th>
          <th class="right-aligned">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemCost of itemCosts">
          <td class="auto-number"></td>
          <td class="left-aligned">{{ itemCost.item.itemName}}</td>
          <td class="right-aligned">
            <div *ngIf="itemCost.qty!==0">
              {{ itemCost.qty | number:'1.0-3' }} {{ itemCost.item.uom.uomCode
              }}
            </div>
          </td>
          <td class="right-aligned">
            <div *ngIf="itemCost.cost!==0">
              {{ itemCost.cost | number:'1.2' }}
            </div>
          </td>
          <td class="right-aligned">
            <div *ngIf="itemCost.qty!==0">
              {{ itemCost.qty * itemCost.cost | number:'1.2' }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="grand-total">
      <p>Grand Total:</p>
      <p class="total-cost">{{ totalAmt | number:'1.2-2' }}</p>
    </div>
  </div>
</div>
