<ion-card class="item-add-ons">
  <div class="card-top"></div>

  <ion-accordion-group>
    <ion-accordion value="add-ons">
      <ion-item class="add-ons-accordion" slot="header">
        <ion-card-title>Add-ons</ion-card-title>
      </ion-item>
      <ion-grid slot="content">
         <ion-item lines="none" class="buttons-holder">
          <ion-button
            color="success"
            slot="end"
            size="default"
          >
            Add
            <ion-icon name="add" slot="start"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-grid>
    </ion-accordion>
  </ion-accordion-group>
  <!-- <div class="separator"></div> -->

  <!-- Item BoMs -->
  <ion-list>
    <!-- <ion-item *ngFor="let itemBom of itemBoms">
      <ion-label>
        <h2>{{ itemBom.subItem.itemName }}</h2>
        <p>{{itemBom.requiredQty}}{{itemBom.requiredUom.uomCode }}</p>
      </ion-label>
      <ion-button
        mode="ios"
        slot="end"
        fill="clear"
        color="medium"
        size="default"
        (click)="onDeleteItemBom(itemBom)"
      >
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-item> -->
  </ion-list>
</ion-card>
