<ion-card class="add-ons-card">
  <div class="card-top"></div>

  <ion-accordion-group>
    <ion-accordion value="add-ons">
      <ion-item class="add-ons-accordion-header" slot="header">
        <ion-card-title>Add-ons</ion-card-title>
      </ion-item>
      <div class="add-ons" slot="content">
        <ion-card class="add-on-detail" *ngFor="let addOn of this.addOnsService.getItemAddOnDetails()">
          <ion-card-header class="add-on-header">
            <ion-item lines="none">
              <ion-label>
                <ion-card-title>{{ addOn.description }}</ion-card-title>
                <ion-card-subtitle
                  ><span *ngIf="!addOn.isRequired">Optional, </span>Max. of
                  {{ addOn.maxNoOfItems }}</ion-card-subtitle
                >
              </ion-label>
              <ion-button
                (click)="onEditAddOnDetail(addOn)"
                class="delete-item-button"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
              </ion-button>
              <ion-button
                class="delete-item-button"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="close-circle"></ion-icon> </ion-button
            ></ion-item>
          </ion-card-header>
          <ion-card-content class="add-on-content">
            <ion-item *ngFor="let addOnContent of addOn.itemAddOnContents">
              <ion-label>
                <h2 *ngIf="addOnContent.altDesc">{{ addOnContent.altDesc }}</h2>
                <h3 *ngIf="addOnContent.altDesc">
                  ({{ addOnContent.item.itemName }})
                </h3>
                <h2 *ngIf="!addOnContent.altDesc">
                  {{ addOnContent.item.itemName }}
                </h2>
                <h3>
                  {{ addOnContent.qty }}{{ addOnContent.uom.uomCode
                  }}<span *ngIf="addOnContent.price>0"> @ {{ addOnContent.price | number : "1.2" }}</span>
                </h3>
              </ion-label>
              <ion-button
                (click)="onEditAddOnContent(addOnContent, addOn)"
                class="delete-item-button"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
              </ion-button>
              <ion-button
                class="delete-item-button"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item lines="none" button (click)="onShowAddOnContent(addOn)">
              <ion-label>
                <h3>INSERT ITEM...</h3>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card class="new-add-on">
          <ion-card-content>
            <ion-item lines="none" button (click)="onShowAddOnDetail()">
              <ion-label> NEW ADD-ON... </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-card>
