<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/orders"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="first-row">
      <ion-col class="ion-text-center">

        <ion-card>
          <div class="card-top"></div>
          <ion-card-header>
            <ion-item lines="full">
              <ion-label class="ion-text-center">
                <ion-card-title>{{ menu.menuName }}</ion-card-title>
                <br />
                <ion-card-subtitle>{{ menu.remarks }}</ion-card-subtitle>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <h2>Quantity</h2>
            </ion-label>
            <ion-item lines="none" class="ion-text-center quantityInput">
              <ion-button
                slot="start"
                mode="ios"
                fill="clear"
                color="medium"
                size="default"
                (click) ="decrementQty()"
              >
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button>

              <ion-input
                value="1"
                type="number"
                inputmode="numeric"
                min="0"
                [(ngModel)] ="quantity"
              ></ion-input>

              <ion-button
                slot="end"
                mode="ios"
                fill="clear"
                color="medium"
                size="default"
                (click) = "incrementQty()"
              >
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-button mode="ios" color="success" (click) = "onSaveCartMenu()">
              <ion-icon name="cart-sharp" slot="start"></ion-icon>
              <ion-label>Add to Cart</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>

          <div class="card-top"></div>
          <ion-item lines="full">
            <ion-label class="ion-text-center">Ingredients</ion-label>
            <ion-spinner name="dots" *ngIf="isFetching"></ion-spinner>
          </ion-item>

          <ion-grid *ngIf="menuIngredients.length>0">
            <ion-row>
              <ion-col
                size-xs="12"
                size-md="6"
                size-lg="4"
                *ngFor="let ing of menuIngredients"
              >
                <ion-card class="favCard">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="assets/icons/items.svg" class="icon" />
                    </ion-avatar>
                    <ion-card-subtitle
                      >{{ ing.item.itemName }} - {{ ing.requiredQty }}{{
                      ing.requiredUom.uomCode }}</ion-card-subtitle
                    >
                    <ion-button
                      mode="ios"
                      slot="end"
                      fill="clear"
                      color="medium"
                      size="default"
                      (click)="onDeleteIngredient(ing)"
                    >
                      <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
