.none {
  display: none;
}

ion-content {
  --ion-background-color: #f6f6f6;
}

ion-grid {
  padding: 1rem 0.5rem;
}
ion-col {
  padding: 0;
}
ion-item {
  padding: 0.6rem 0;
}

ion-card {
  --ion-background-color: #ffffff;
  margin: 2rem 0;
}

ion-searchbar {
  --box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
  --background: #f6f6f6;
  --border-radius: 5px;
  padding-inline-start: 1px;
  padding-inline-end: 15px;
}

.card-holder {
  margin: 20px 20px 0 20px;
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

.details-card {
  margin: 1rem;
  box-shadow: none;

  ion-item {
    padding: 0;
  }

  ion-icon {
    margin-right: 1rem;
  }
}
