.none {
  display: none;
}

ion-content {
  --ion-background-color: #f6f6f6;
}

ion-grid {
  padding: 1rem 0.5rem 2rem 0.5rem;
}

ion-col {
  padding: 0;
}

ion-item {
  padding: 0.6rem 0;
}

ion-card {
  --ion-background-color: #ffffff;
  margin: 2rem 0;
}

.spinner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ion-spinner {
    stroke: var(--ion-color-primary);
    fill: var(--ion-color-primary);
    transform: scale(3);
  }
}

// ion-searchbar {
//   --box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
//   --background: #f6f6f6;
//   --border-radius: 5px;
//   padding-inline-start: 1px;
//   padding-inline-end: 15px;
// }

// .card-holder {
//   margin: 20px 20px 0 20px;
// }

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.save-button {
  width: 100%;
  height: 3rem;

}

.details-card {
  margin: 1rem 0;
  box-shadow: none;
  border-bottom: 8px solid #f6f6f6;

  &:last-child {
    border-bottom: none;
  }

  ion-card-header {
    padding: 0 0.5rem;

    ion-grid {
      padding: 0;
    }
  }

  ion-item {
    padding: 0;
  }

  ion-icon {
    margin-right: 1rem;
  }

  .details-row {
    position: relative;

    &:hover {
      .option-buttons {
        visibility: visible;
        display: block;
        backdrop-filter: none;
      }

      // border-bottom: none;
    }
  }

  .item-desc-hdr-lbl {
    color: var(--ion-color-medium);
    text-align: center;
    white-space: normal;
  }

  .item-qty-hdr-lbl {
    color: var(--ion-color-medium);
    text-align: right;
    white-space: normal;
  }

  .item-hdr {
    vertical-align: bottom;
    background-color: #f8f5f5;

    ion-item::part(native) {
      background-color: transparent;
    }

    margin-bottom: 1rem;
    display: none;
  }

  .item-row {
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid rgba($color: #6c6c6c, $alpha: 0.5);

    &:hover {
      .option-buttons {
        visibility: visible;
        display: block;
      }

      // border-bottom: none;
    }
  }

  .item-ftr {
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: none;
  }

  .item-desc-lbl {
    white-space: normal;
  }

  .item-qty-lbl {
    text-align: right;
  }

  .item-line-lbl {
    margin: 0;
  }

  .total-lbl-col {
    visibility: hidden;
    display: none;
  }

  h3 {
    font-size: 0.7rem;
    color: var(--ion-color-medium);
  }

  .qty-uom-lbl {
    visibility: hidden;
    display: none;
  }

  .insert-item {
    border: 3px dashed rgba($color: #4e4d4d, $alpha: 0.5);
    text-align: center;
    color: #4e4d4d;

    h3 {
      font-size: 1rem;
      color: var(--ion-color-medium);
    }
  }
}

.new-detail-card {
  box-shadow: none;
  margin: 0;
  border-radius: 0;

  ion-item {
    padding: 0;
    --padding-start: 0;
    --inner-padding-end: 0;
    border: 3px dashed rgba($color: #4e4d4d, $alpha: 0.5);
    text-align: center;
    color: #4e4d4d;

    h3 {
      font-size: 1rem;
      color: var(--ion-color-medium);
    }
  }
}

.option-buttons {
  visibility: hidden;
  display: none;
  background: linear-gradient(270deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 0.6699929971988796) 30%,
      rgba(255, 255, 255, 0) 50%);
  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
  z-index: 100 !important;
  position: absolute;
  align-items: flex-end;

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    height: 100%;

    &::part(native) {
      background-color: transparent;
      height: 100%;
    }

    ion-button {
      margin: 0;

      ion-icon {
        margin: 0;
      }
    }
  }
}

.ion-label-elem {
  color: var(--ion-color-medium);
}

.ion-input-elem {
  --padding-bottom: 0;
}

.end-button {
  margin: 0.2rem;
}

@media (min-width: 500px) {
  .save-button {
    width: 10rem;
  }
}

@media (min-width: 768px) {
  .main-content {
    --padding-start: 1rem;
    --padding-end: 1rem;
  }

  .total-lbl-col {
    visibility: visible !important;
    display: block !important;
  }
}

@media (min-width: 992px) {
  .primary-info-row {
    ion-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .save-button {
    padding-right: 0.5rem;
  }

  .item-hdr {
    display: flex !important;
  }

  .item-qty-lbl h3 {
    display: none;
  }

  .qty-uom-lbl {
    visibility: unset !important;
    display: unset !important;
  }
}
