<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>Add-on item</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="contentForm">
    <ion-item fill="outline">
      <ion-icon slot="start" name="bookmark-outline" color="primary"></ion-icon>
      <ion-input [value]="this.vendor.vendorName" (click)="onVendorSearch()" readonly="true" placeholder="Vendor"></ion-input>
      <ion-button mode="ios" class="search-button" slot="end" size="small" fill="clear" (click)="onVendorSearch()">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item fill="outline">
      <ion-icon slot="start" name="swap-horizontal-outline" color="primary"></ion-icon>
      <ion-input formControlName="referenceNo" placeholder="Reference Nos." type="text" maxlength="20">
      </ion-input>
    </ion-item>
  </form>
  <ion-button class="save-button" expand="block" (click)="onSaveAddOnContent()">save</ion-button>
</ion-content>
