<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/tabs/customers"></ion-back-button>
    </ion-buttons>
    <ion-title>Customer Details</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSaveCustomer()" *ngIf="!isUploading">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner">
    <ion-spinner name="bubbles" color="primary" *ngIf="isFetching"></ion-spinner>
  </div>

  <ion-card class="card-holder">
    <div class="card-top"></div>

    <!-- Primary info -->
    <ion-grid class="primary-info">
      <ion-row>

        <ion-col class="images" size-xs="12" size-md="4" push-md="8">
          <!-- <ion-thumbnail>
            <ion-img [src]="selectedPicImg"></ion-img>
          </ion-thumbnail> -->
          <ion-segment value="picture" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="picture">
              <ion-label>Picture</ion-label>
            </ion-segment-button>
            <ion-segment-button value="signature">
              <ion-label>Signature</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ion-avatar>
            <ion-img [src]="displayImg"></ion-img>
          </ion-avatar>
          <!-- <img [src]=selectedPicImg> -->
          <!-- <div class="ion-text-center">
            <ion-button class="ion-no-margin" mode="ios" slot="end" fill="clear" color="medium" size="default">
              <ion-icon name="close-circle"></ion-icon>
            </ion-button>
            <ion-button class="ion-no-margin" mode="ios" fill="clear" color="success" size="default" slot="end">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div> -->
          <!-- <div class="changePicFile ion-text-center">
            <ion-item lines="none" fill="outline"> -->
          <div class="file-upload-holder">
            <label for="file-upload" class="custom-file-upload">
              File Upload
            </label>
            <input id="file-upload" type="file" (change)="onPictureFileChange($event)">
          </div>
          <!-- </ion-item>
          </div> -->
        </ion-col>

        <ion-col size-xs="12" size-md="8" pull-md="4">
          <form [formGroup]="customerForm">
            <ion-item lines="none" *ngIf="customer.customerId">
            </ion-item>

            <ion-item fill="outline">
              <ion-icon class="contactIcon" name="person-outline" color="primary" slot="start"></ion-icon>
              <ion-input formControlName="customerName" placeholder="Customer's name"></ion-input>
            </ion-item>

            <ion-item fill="outline">
              <ion-icon class="contactIcon" name="call-outline" color="primary" slot="start"></ion-icon>
              <ion-input formControlName="contactNo" placeholder="Contact number(s)"></ion-input>
            </ion-item>

            <ion-item fill="outline">
              <ion-icon class="contactIcon" name="location-outline" color="primary" slot="start"></ion-icon>
              <ion-textarea formControlName="address" wrap="hard" placeholder="Address"></ion-textarea>
            </ion-item>
          </form>
        </ion-col>

      </ion-row>
    </ion-grid>
    <!-- End of primary info -->

    <!-- Statutory info -->
    <ion-accordion-group>
      <ion-accordion value="statutoryIds">
        <ion-item slot="header" color="medium">
          <ion-label>Gov't. Issued ID Nos.</ion-label>
        </ion-item>
        <ion-grid slot="content" class="statutory-info">
          <form [formGroup]="customerForm">
            <ion-row>

              <ion-col size-xs="12" size-md="6">
                <ion-item fill="outline">
                  <ion-label class="statutory-label" color="primary">SSS #</ion-label>
                  <ion-input formControlName="sssNo"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-md="6">
                <ion-item fill="outline">
                  <ion-label class="statutory-label" color="primary">HDMF #</ion-label>
                  <ion-input formControlName="hdmfNo"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-md="6">
                <ion-item fill="outline">
                  <ion-label class="statutory-label" color="primary">PHIC #</ion-label>
                  <ion-input formControlName="phicNo"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-md="6">
                <ion-item fill="outline">
                  <ion-label class="statutory-label" color="primary">TIN #</ion-label>
                  <ion-input formControlName="tinNo"></ion-input>
                </ion-item>
              </ion-col>

            </ion-row>
          </form>
        </ion-grid>
      </ion-accordion>
    </ion-accordion-group>
    <!-- End of statutory details -->

    <!-- ER Details -->
    <ion-accordion-group>
      <ion-accordion value="erContactDetails">
        <ion-item slot="header" color="medium">
          <ion-label>In Case Of Emergency</ion-label>
        </ion-item>
        <ion-grid slot="content" class="er-info">
          <form [formGroup]="customerForm">
            <ion-row>

              <ion-col size-xs="12" size-lg="6">
                <ion-item fill="outline">
                  <ion-icon slot="start" src="../../assets/icons/blood.svg" color="primary"></ion-icon>
                  <ion-input formControlName="bloodType" placeholder="Customer's blood type"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-lg="6">
                <ion-item fill="outline">
                  <ion-icon class="contactIcon" name="person-outline" color="primary" slot="start"></ion-icon>
                  <ion-input formControlName="erContactPerson" placeholder="Contact person"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-lg="6">
                <ion-item fill="outline">
                  <ion-icon class="contactIcon" name="call-outline" color="primary" slot="start"></ion-icon>
                  <ion-input formControlName="erContactNo" placeholder="Contact person's number(s)"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-lg="6">
                <ion-item fill="outline">
                  <ion-icon class="contactIcon" name="location-outline" color="primary" slot="start"></ion-icon>
                  <ion-textarea formControlName="erContactAddress" placeholder="Contact person's Address">
                  </ion-textarea>
                </ion-item>
              </ion-col>

            </ion-row>
          </form>
        </ion-grid>
      </ion-accordion>
    </ion-accordion-group>
    <!-- End of ER details -->

  </ion-card>
</ion-content>
