<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar #receivingSearchBar placeholder="Butchery Receivings"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isFetching">
    <ion-fab-button color="success" (click)="onAddReceiving()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-grid>
    <ion-row class="data-hdr">
      <ion-col size-lg="1">
        <ion-item lines="none"
          ><ion-label><h2>Receiving No.</h2></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-lg="3">
        <ion-item lines="none"
          ><ion-label><h2>Storage Provider</h2></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-lg="2">
        <ion-item lines="none"
          ><ion-label><h2>Reference No.</h2></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-lg="2">
        <ion-item lines="none"
          ><ion-label><h2>Total Kg.</h2></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-lg="1">
        <ion-item lines="none"
          ><ion-label><h2>Status</h2></ion-label></ion-item
        >
      </ion-col>
      <ion-col size-lg="1.5">
        <ion-item lines="none"
          ><ion-label><h2>Created On</h2></ion-label></ion-item
        >
      </ion-col>
    </ion-row>
    <ion-row class="data-row" *ngFor="let receiving of receivings">
      <div class="option-buttons">
        <ion-item lines="none">
          <ion-button
            class="delete-item-button"
            (click)="onEditReceiving(receiving.butcheryReceivingId)"
            mode="ios"
            slot="end"
            fill="clear"
            color="medium"
            size="default"
          >
            <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1">
        <ion-item lines="none"
          ><ion-label
            ><h3>Receiving No.</h3>
            {{ receiving.butcheryReceivingId }}</ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
        <ion-item lines="none"
          ><ion-label
            ><h3>Storage Provider</h3>
            {{ receiving.vendorWarehouse.vendorWarehouseName }}</ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="2">
        <ion-item lines="none"
          ><ion-label
            ><h3>Reference No.</h3>
            {{ receiving.referenceCode }} <span *ngIf="!receiving.referenceCode">-</span></ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="2">
        <ion-item lines="none"
          ><ion-label
            ><h3>Total Kg.</h3>
            {{ receiving.totalKg | number:'1.2-2' }} <span *ngIf="!receiving.totalKg">-</span></ion-label
          ></ion-item
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1">
        <ion-item lines="none">
          <ion-label
            ><h3>Status</h3>
            <ion-badge [color]="getStatusColor(receiving.receivingStatus)"
              >{{ receiving.receivingStatus }}</ion-badge
            ></ion-label
          >
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="1.5">
        <ion-item lines="none"
          ><ion-label
            ><h3>Created On</h3>
            {{ receiving.dateCreated| date:'MMM dd, yyyy hh:mm a' }}</ion-label
          ></ion-item
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreReceivings($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="empty-space"></div>
</ion-content>
