<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/orders/orders-list"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-card *ngIf="orderMenus.length>0">
    <div class="card-top"></div>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-xl="4" push-xl="8">
          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="calendar-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label>
              <ion-label class="ion-text-wrap"
                >{{ order.dateCreated | date:'MMM dd, yyyy hh:mm a' }}
              </ion-label>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="cartIcon"
              name="cart-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label
              >{{ order.orderId.toString().padStart(8, "0") }}</ion-label
            >

            <!-- <ion-button
              #orderStatusButton
              fill="clear"
              size="small"
              mode="ios"
              id="click-trigger"
              *ngIf="orderDetailsConfig.orderStatusButton"
              event="($event)"
            > -->

            <ion-button
              #orderStatusButton
              fill="clear"
              size="small"
              mode="ios"
              *ngIf="orderDetailsConfig.orderStatusButton"
              (click)="onShowPopOver($event)"
            >
              <ion-badge [color]="orderDetailsConfig.orderStatusColor"
                >{{ order.orderStatus }}</ion-badge
              >
            </ion-button>

            <!-- <ion-popover
              *ngIf="orderDetailsConfig.orderStatusPopover"
              #orderStatusPopover
              trigger="click-trigger"
              triggerAction="click"
              dismissOnSelect="true"
            > -->

            <ion-popover
              *ngIf="orderDetailsConfig.orderStatusPopover"
              #orderStatusPopover
              triggerAction="click"
              dismissOnSelect="true"
              [isOpen]="orderStatusPopoverOpen"
              (didDismiss)="orderStatusPopoverOpen = false"
            >
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item
                      #inTransitStatus
                      *ngIf="orderDetailsConfig.packedStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="none"
                      [button]="true"
                      (click)="onUpdateStatus('Packed')"
                      ><ion-label>Packed</ion-label></ion-item
                    >
                    <ion-item
                      #inTransitStatus
                      *ngIf="orderDetailsConfig.inTransitStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="none"
                      [button]="true"
                      (click)="onUpdateStatus('In Transit')"
                      ><ion-label>In Transit</ion-label></ion-item
                    >
                    <ion-item
                      #deliveredStatus
                      *ngIf="orderDetailsConfig.deliveredStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="full"
                      [button]="true"
                      (click)="onUpdateStatus('Delivered')"
                      ><ion-label>Delivered</ion-label></ion-item
                    >
                    <ion-item
                      #cancelledStatus
                      *ngIf="orderDetailsConfig.cancelledStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="none"
                      [button]="true"
                      (click)="onUpdateStatus('Cancelled')"
                      ><ion-label color="primary">Cancel</ion-label></ion-item
                    >
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
            <!-- **************************************** -->

            <!-- Badge that indicates the status of the order -->
            <ion-badge
              #orderStatusBadge
              [color]="orderDetailsConfig.orderStatusColor"
              *ngIf="orderDetailsConfig.orderStatusBadge"
            >
              {{ order.orderStatus }}
            </ion-badge>
            <!-- *************************************** -->
          </ion-item>
        </ion-col>

        <ion-col size-xs="12" size-xl="8" pull-xl="4">
          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="person-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label>
              <ion-label class="ion-text-wrap"
                ><ion-card-title
                  >{{ customer.customerName }}</ion-card-title
                ></ion-label
              >
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="call-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label> {{ customer.contactNo }} </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="location-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label>
              <ion-label class="ion-text-wrap"
                >{{ customer.address }}</ion-label
              >
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="business-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label>
              <ion-card-title class="ion-text-wrap"
                >{{ warehouse.warehouseName }}</ion-card-title
              >
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row *ngFor="let menu of orderMenus" [id]="menu.orderMenuId">
      <ion-col class="ion-text-center">
        <ion-card>
          <div class="card-top"></div>
          <ion-card-header>
            <ion-label class="ion-text-center">
              <ion-card-subtitle>{{ menu.orderMenuId.toString().padStart(8, "0")  }}</ion-card-subtitle>
              <br />
              <ion-card-title>{{ menu.menu.menuName }}</ion-card-title>
              <br />
              <ion-card-subtitle>{{ menu.menu.remarks }}</ion-card-subtitle>
            </ion-label>
          </ion-card-header>
          <div class="separator"></div>

          <ion-grid>
            <ion-row>
              <ion-col
                size-xs="12"
                size-md="6"
                size-lg="4"
                *ngFor="let ing of menu.orderMenuIngredients"
              >
                <ion-card class="favCard">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="../../assets/icons/items.svg" class="icon" />
                    </ion-avatar>

                    <ion-card-subtitle class="ion-no-padding ion-no-margin">
                      {{ ing.item.itemName }} - {{ ing.requiredQty }}{{
                      ing.requiredUom.uomCode }}
                    </ion-card-subtitle>

                    <!-- Indicates an ingredient is not included from the menu -->
                    <ion-icon
                      #excludedIngredientIcon
                      *ngIf="ing.orderMenuIngredientId === 0"
                      slot="end"
                      color="tertiary"
                      name="close-circle"
                    >
                    </ion-icon>
                    <!-- *************************************** -->

                    <!-- Excludes an ingredient from the menu -->
                    <ion-button
                      #deleteIngredientButton
                      class="ion-no-padding ion-no-margin"
                      *ngIf="ing.orderMenuIngredientId !== 0 && orderDetailsConfig.deleteIngredientButton"
                      mode="ios"
                      fill="clear"
                      color="success"
                      size="default"
                      slot="end"
                      (click)="onDeleteIngredient(ing, menu.orderMenuIngredients)"
                    >
                      <ion-icon name="checkmark-circle"></ion-icon>
                    </ion-button>
                    <!-- *************************************** -->

                    <!-- Indicates an ingredient is included in the menu -->
                    <ion-icon
                      #includedIngredientIcon
                      *ngIf="ing.orderMenuIngredientId !== 0 && orderDetailsConfig.includedIngredientIcon"
                      slot="end"
                      color="success"
                      name="checkmark-circle"
                    >
                    </ion-icon>
                    <!-- *************************************** -->
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- Separator -->
          <div
            #ingredientsBottomDiv
            *ngIf="orderDetailsConfig.ingredientsBottomDiv"
            class="separator"
          ></div>
          <!-- ********* -->

          <!-- Option buttons container -->
          <ion-card-content
            #optionButtonsContainer
            *ngIf="orderDetailsConfig.optionButtonsContainer"
          >
            <ion-button
              *ngIf="orderDetailsConfig.printPreviewButton"
              mode="ios"
              color="secondary"
              (click)="onPrintPreview(menu)"
            >
              <ion-icon
                src="../../assets/icons/preview.svg"
                slot="start"
              ></ion-icon>
              <ion-label>Preview</ion-label>
            </ion-button>
            <ion-button
              *ngIf="orderDetailsConfig.removeMenuButton"
              mode="ios"
              color="medium"
              (click)="onDeleteMenu(menu)"
            >
              <ion-icon name="trash-sharp" slot="start"></ion-icon>
              <ion-label>Remove</ion-label>
            </ion-button>
          </ion-card-content>
          <!-- ************************ -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
