<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar #searchBar placeholder="Search UoM"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="itemUoms.length > 0">
    <ion-card class="favCard">
      <ion-item lines="none" detail button (click)="onSelectUom()">
        <ion-icon
          slot="start"
          name="pie-chart-outline"
          color="primary"
        ></ion-icon>
        <ion-label>
          <h2>{{ item.uom.uomName }}</h2>
          <h3>Default</h3>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="favCard" *ngFor="let itemUom of itemUoms">
      <ion-item lines="none" detail button (click)="onSelectUom(itemUom)">
        <ion-icon
          slot="start"
          name="pie-chart-outline"
          color="primary"
        ></ion-icon>
        <ion-label>
          <h2>{{ itemUom.uom.uomName }}</h2>
          <h3>Equivalent to {{ itemUom.quantity }}{{ item.uom.uomCode }}</h3>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreItems($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more items..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
