<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar #releasingSearchBar placeholder="Butchery Releasings"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isFetching">
    <ion-fab-button color="success" (click)="onAddReleasing()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-grid *ngIf="releasings.length>0">
    <ion-row>
      <ion-col
        size-xs="12"
        size-sm="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let releasing of releasings"
      >
        <ion-card class="favCard">
          <div class="card-top"></div>

          <ion-item class="order-id">
            <ion-icon
              class="cartIcon"
              name="log-out-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label
              >{{ releasing.butcheryReleasingId.toString().padStart(8, "0") }}</ion-label
            >
            <ion-badge [color]="getStatusColor(releasing.releasingStatus)"
              >{{ releasing.releasingStatus }}</ion-badge
            >
          </ion-item>

          <!-- <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="person-outline"
              color="primary"
              slot="start"
            ></ion-icon>
              <p>{{ releasing.customer.customerName }}</p>
          </ion-item> -->

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="business-outline"
              color="primary"
              slot="start"
            ></ion-icon>
              <p>Destination: {{ releasing.destinationWarehouse.warehouseName }}</p>
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              class="contactIcon"
              name="business-outline"
              color="primary"
              slot="start"
            ></ion-icon>
              <p>Source: {{ releasing.warehouse.warehouseName }}</p>
          </ion-item>

          <div class="separator"></div>

          <div class="action-buttons">
            <ion-item lines="none">
              <ion-icon
                class="totalIcon"
                name="calculator-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-card-title>
                {{ releasing.totalAmount | number:'1.2-2' }}
              </ion-card-title>
            </ion-item>
            <div>
              <ion-button
                class="ion-no-padding ion-no-margin"
                expand="full"
                mode="ios"
                color="secondary"
                fill="clear"
                (click)="onEditReleasing(releasing.butcheryReleasingId)"
              >
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreReleasings($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="empty-space"></div>
</ion-content>
