<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Production Source</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSaveReceivedItem()">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-holder">
    <div class="card-top"></div>
    <form [formGroup]="itemForm">
      <ion-item fill="outline" lines="none">
        <ion-label *ngIf="pSource.butcheryReceivingItem">
          <p class="font-x-small">
            {{ pSource.butcheryReceivingItem.butcheryReceiving.butcheryReceivingId.toString().padStart(8, "0") }} -
            {{ pSource.butcheryReceivingItem.butcheryReceiving.dateCreated | date: "MMM dd, yyyy hh:mm a" }}
          </p>
          <h6>
            {{ pSource.butcheryReceivingItem.butcheryReceivingItemId.toString().padStart(8, "0") }}
          </h6>
          <h3>{{ pSource.butcheryReceivingItem.item.itemName }}</h3>
          <h5>
            {{ pSource.butcheryReceivingItem.receivedQty | number: "1.0-2"
            }}{{ pSource.butcheryReceivingItem.requiredUom.uomCode }}
          </h5>
          <p class="font-x-small">{{ pSource.butcheryReceivingItem.butcheryReceiving.warehouse.warehouseName }}</p>
        </ion-label>
        <ion-icon
          class="receivedItemIcon"
          slot="start"
          color="primary"
          name="log-in-outline"
        ></ion-icon>
        <ion-button
          mode="ios"
          class="search-button"
          slot="end"
          size="small"
          fill="clear"
          (click)="onReceivedItemSearch()"
        >
          <ion-icon name="search-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item fill="outline">
        <ion-label position="floating">Documented Qty.</ion-label>
        <ion-input
          #requiredQtyInput
          formControlName="requiredQty"
          type="number"
          inputmode="decimal"
          min="0"
          value="0"
        ></ion-input>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
