ion-content {
  --ion-background-color: #f6f6f6;
}

ion-card {
  --ion-background-color: #ffffff;
}

.card-holder {
  margin: 20px 20px 0 20px;
}

.card-top {
  border-top: 5px solid var(--ion-color-primary);
}

form {
  margin: 50px 0;

  ion-item {
    padding: 10px 10px;
  }

  .number-inputs {
    padding: 0;

    ion-col {
      padding: 0;

      ion-item {
        margin-top: 0px;
      }
    }
  }

  .receivedItemIcon {
    font-size: 30px;
    margin-right: 15px;
  }

}

.font-x-small {
  font-size: x-small;
}
