<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>Add-on Detail</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="detailForm">
    <ion-item fill="outline">
      <ion-icon slot="start" name="bookmark-outline" color="primary"></ion-icon>
      <ion-input
        formControlName="description"
        placeholder="Description"
        type="text"
        maxlength="30"
      >
      </ion-input>
    </ion-item>
    <ion-item fill="outline" lines="none">
      <ion-icon
        slot="start"
        name="checkmark-circle-outline"
        color="primary"
      ></ion-icon>
      <ion-label>Required</ion-label>
      <ion-toggle
        formControlName="isRequired"
        [checked]="itemAddOnDetail.isRequired"
        [enableOnOffLabels]="true"
        slot="end"
        >Optional</ion-toggle
      >
    </ion-item>
    <ion-item fill="outline">
      <ion-icon
        slot="start"
        name="reorder-four-outline"
        color="primary"
      ></ion-icon>
      <ion-input
        formControlName="maxNoOfItems"
        class="qty-input"
        placeholder="Maximum number of items"
        type="number"
        inputmode="numeric"
        step="1"
      >
      </ion-input>
    </ion-item>
  </form>
  <ion-button expand="block" (click)="onSaveAddOn()">save</ion-button>
</ion-content>
