<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar #searchBar placeholder="Search client"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="clientList.length > 0">
    <ion-card class="favCard" *ngFor="let client of clientList">
      <ion-item lines="none" detail button (click)="onSelectClient(client)">
        <!-- <ion-avatar slot="start">
          <img src="assets/icons/items.svg" class="icon" />
        </ion-avatar> -->
        <ion-icon
          class="customerIcon"
          name="person-circle-outline"
          color="primary"
          slot="start"
        ></ion-icon>
        <ion-card-subtitle>{{ client.clientName }}</ion-card-subtitle>
      </ion-item>
    </ion-card>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMoreCata($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
