<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar #itemSearchBar placeholder="Search batch item"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner" *ngIf="isFetching">
    <ion-spinner name="bubbles" color="primary" *ngIf="isFetching"></ion-spinner>
  </div>

  <ion-grid *ngIf="itemList.length > 0">
    <ion-card class="favCard" *ngFor="let item of itemList">
      <ion-item lines="none" detail button (click)="onSelectBatch(item)">
        <ion-icon
          class="warehouseIcon"
          name="cube-outline"
          color="primary"
          slot="start"
        ></ion-icon>
        <ion-label>
          <h3>{{ item.itemName }}</h3>
          <!-- <h2>{{ item.vendor.vendorName }}</h2>
          <h3>{{ item.vendorWarehouse.vendorWarehouseName }}</h3>
          <h3>{{ item.remarks }}</h3> -->
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-grid>

  <ion-infinite-scroll
    #infiniteScroll
    threshold="5%"
    (ionInfinite)="loadMore($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more warehouses..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
