ion-list {
  padding: 20px;
}

.list-content {
  ion-item {
    padding: 5px
  }
  .search-button {
    --border-radius: 50%;
    width: 40px;
    height: 40px;
    ion-icon {
      margin-right: -30px;
      margin-left: -30px;
    }
  }
}
