ion-list {
  padding: 20px;

  ion-item {
    padding: 5px
  }

}

.list-content {

  // .search-button {
  //   --border-radius: 50%;
  //   width: 40px;
  //   height: 40px;
  //   ion-icon {
  //     margin-right: -30px;
  //     margin-left: -30px;
  //   }
  // }
}

.uom {
  padding-left: 55px;
}

.favCard {
  margin: auto;
}

.icon {
  // primary
   filter: invert(52%) sepia(68%) saturate(3904%) hue-rotate(322deg) brightness(89%) contrast(108%);

  // secondary
  // filter: invert(97%) sepia(79%) saturate(2860%) hue-rotate(292deg) brightness(103%) contrast(91%);
}
