<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/menus"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageLabel }}</ion-title>
    <ion-buttons slot="primary" *ngIf="!this.menu.menuId">
      <ion-button (click)="onSaveMenu()">
        <ion-icon name="{{ postButton }}" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-list>
            <ion-item-group>
              <form [formGroup]="menuForm">
                <ion-item fill="outline">
                  <ion-label position="floating">Description</ion-label>
                  <ion-input type="text" formControlName="menuName"></ion-input>
                </ion-item>
              </form>
            </ion-item-group>
          </ion-list>
          <ion-item *ngIf="this.menu.menuId">
            <ion-button
              (click)="onSaveMenu()"
              color="danger"
              slot="end"
              size="default"
            >
              Save
              <ion-icon name="{{ postButton }}" slot="end"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-accordion-group>
            <ion-accordion value="newIngredient">
              <ion-item slot="header">
                <ion-label>Add Ingredient</ion-label>
              </ion-item>
              <ion-list slot="content" class="list-content">
                <form [formGroup]="itemForm">
                  <ion-item fill="outline">
                    <ion-label position="floating">Item</ion-label>
                    <ion-input
                      readonly="true"
                      formControlName="itemName"
                    ></ion-input>
                    <ion-button
                      class="search-button"
                      slot="end"
                      size="default"
                      fill="clear"
                      (click)="onItemSearch()"
                    >
                      <ion-icon
                        name="search-outline"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </ion-item>
                  <ion-item fill="outline">
                    <ion-label position="floating">Uom</ion-label>
                    <ion-select formControlName="uom">
                      <ion-select-option *ngFor="let uom of uoms" [value]="uom"
                        >{{ uom.uomName }}</ion-select-option
                      >
                    </ion-select>
                  </ion-item>
                  <ion-item fill="outline">
                    <ion-label position="floating">Quantity</ion-label>
                    <ion-input
                      #quantityInput
                      formControlName="quantity"
                      type="number"
                      inputmode="decimal"
                      min="0"
                      value="0"
                    ></ion-input>
                  </ion-item>
                </form>

                <ion-item lines="none">
                  <ion-button
                    full
                    (click)="onAddIngredient()"
                    slot="end"
                    size="default"
                    color="tertiary"
                  >
                    Add<ion-icon name="add-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-lg="6" size-xl="8">
        <ion-card>
          <ion-item>
            <ion-label>Ingredients</ion-label>
          </ion-item>

          <ion-grid *ngIf="menuIngredients.length>0">
            <ion-row>
              <ion-col
                size-xs="12"
                size-md="6"
                size-lg="12"
                size-xl="6"
                *ngFor="let ing of menuIngredients"
              >
                <ion-card class="favCard">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="../../assets/icons/items.svg" class="icon" />
                    </ion-avatar>
                    <ion-card-subtitle
                      >{{ ing.item.itemName }} - {{ ing.requiredQty }}{{
                      ing.requiredUom.uomCode }}</ion-card-subtitle
                    >
                    <ion-button
                      mode="ios"
                      slot="end"
                      fill="clear"
                      color="medium"
                      size="default"
                      (click)="onDeleteIngredient(ing)"
                    >
                      <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
