<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/receivings"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Receiving Details</ion-title>
    <ion-buttons slot="primary">
      <ion-button
        (click)="onSaveReceiving()"
        *ngIf="!receiving.butcheryReceivingId && !isFetching"
        [disabled]="isUploading"
      >
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-card *ngIf="!isFetching">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Primary Information</ion-card-title>
    </ion-item>
    <ion-grid>
      <ion-row class="primary-info-row">
        <ion-col *ngIf="receiving.butcheryReceivingId">
          <ion-item fill="outline">
            <ion-icon
              class="cartIcon"
              name="log-in-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Receiving No.</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ receiving.butcheryReceivingId }}"
              readonly="true"
            ></ion-input>

            <ion-button
              #statusButton
              *ngIf="receivingDetailsConfig.receivingStatusButton && !isUploading"
              fill="clear"
              size="small"
              slot="end"
              mode="ios"
              (click)="onShowPopOver($event)"
            >
              <ion-badge [color]="receivingDetailsConfig.receivingStatusColor"
                >{{receiving.receivingStatus}}
              </ion-badge>
            </ion-button>

            <ion-popover
              #statusPopover
              *ngIf="receivingDetailsConfig.receivingStatusPopover"
              triggerAction="click"
              dismissOnSelect="true"
              [isOpen]="statusPopoverOpen"
              (didDismiss)="statusPopoverOpen = false"
            >
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item
                      #postedStatus
                      *ngIf="receivingDetailsConfig.postedStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="full"
                      [button]="true"
                      (click)="onUpdateStatus('Posted')"
                    >
                      <ion-label>Post</ion-label>
                    </ion-item>
                    <ion-item
                      #cancelledStatus
                      *ngIf="receivingDetailsConfig.cancelledStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="none"
                      [button]="true"
                      (click)="onUpdateStatus('Cancelled')"
                    >
                      <ion-label color="primary">Cancel</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
            <ion-badge
              #statusBadge
              slot="end"
              [color]="receivingDetailsConfig.receivingStatusColor"
              *ngIf="receivingDetailsConfig.receivingStatusBadge"
            >
              {{receiving.receivingStatus}}
            </ion-badge>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6" *ngIf="receiving.butcheryReceivingId">
          <ion-item fill="outline">
            <ion-icon
              name="calendar-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Date Created</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ receiving.dateCreated | date:'MMM dd, yyyy hh:mm a' }}"
              readonly="true"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              src="../../assets/icons/warehouse02.svg"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Warehouse</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ warehouse.warehouseName }}"
              readonly="true"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              name="document-attach-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Reference No.</ion-label
            >
            <ion-input
              class="ion-input-elem"
              maxlength="20"
              [readonly]="receiving.receivingStatus !== 'Unposted' && receiving.receivingStatus !== undefined"
              #referenceCodeInput
              [value]="receiving.referenceCode"
            ></ion-input>
            <ion-button
              #statusButton
              *ngIf="receiving.receivingStatus === 'Unposted' || receiving.receivingStatus === undefined"
              (click)="onUpdateRefCode()"
              fill="clear"
              size="small"
              slot="end"
              mode="ios"
              id="click-trigger"
            >
              <ion-icon
                name="checkmark-circle-outline"
                *ngIf="receiving.receivingStatus === 'Unposted'"
              ></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              name="calculator-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Total</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ totalAmount | number:'1.2-2' }}"
              readonly="true"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="card-holder" *ngIf="!isFetching">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Items</ion-card-title>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col
          size-xs="12"
          size-md="6"
          size-lg="4"
          *ngIf="receiving.receivingStatus === 'Unposted'"
        >
          <ion-card
            class="card-item insert-item-card"
            button="true"
            (click)="onManuallyAddReceivedItem()"
          >
            <ion-card-content class="insert-item">
              <ion-label>INSERT ITEM...</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col
          size-xs="12"
          size-md="6"
          size-lg="4"
          *ngFor="let item of receivingItems"
        >
          <ion-card class="card-item">
            <ion-item lines="none" class="item-ids">
              <ion-icon
                class="item-icon"
                name="barcode-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-button
                *ngIf="receiving.receivingStatus === 'Unposted'  || receiving.receivingStatus === undefined"
                (click)="onDeleteReceivingItem(item)"
                class="ion-no-margin"
                mode="ios"
                slot="end"
                fill="clear"
                color="medium"
                size="default"
              >
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
              <ion-button
                *ngIf="receiving.receivingStatus === 'Unposted'  || receiving.receivingStatus === undefined"
                (click)="onUpdateReceivedItem(item)"
                class="ion-no-padding ion-no-margin"
                mode="ios"
                fill="clear"
                color="success"
                size="default"
                slot="end"
              >
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-card-subtitle class="ion-no-padding ion-no-margin"
                >{{item.barcode}}</ion-card-subtitle
              ><ion-card-subtitle
                class="ion-no-padding ion-no-margin"
                *ngIf="receiving.butcheryReceivingId>0 && receiving.receivingStatus === 'Posted'"
                slot="end"
              >
                {{item.butcheryReceivingItemId.toString().padStart(8,
                "0")}}</ion-card-subtitle
              >
            </ion-item>
            <ion-item lines="none" class="item-info">
              <ion-card-title
                mode="md"
                class="ion-no-padding ion-no-margin font-medium"
                >{{ item.item.itemName }}</ion-card-title
              ></ion-item
            ><ion-item lines="none" class="item-info">
              <ion-card-subtitle
                >{{ item.receivedQty | number:'1.0-2' }}{{
                item.requiredUom.uomCode }} / {{ item.receivedWeightKg |
                number:'1.0-2' }}Kg</ion-card-subtitle
              >
            </ion-item>
            <ion-item lines="none" class="item-info">
              <ion-card-subtitle class="ion-no-padding ion-no-margin"
                >{{ item.remarks }}</ion-card-subtitle
              >
            </ion-item>

            <ion-item lines="none" class="card-footer">
              <ion-card-title slot="end" mode="md" class="font-medium"
                >{{ item.totalAmount | number:'1.2-2' }}</ion-card-title
              >
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card
    class="card-holder"
    *ngIf="receiving.receivingStatus === 'Posted' && (productions.length>0)"
  >
    <div class="card-top"></div>
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <ion-label>Production History</ion-label>
      </ion-item>
    </ion-card-header>
    <div class="separator"></div>

    <ion-grid class="production-history">
      <ion-row class="ion-align-items-center">
        <ion-col size-xs="4" size-sm="6" size-md="8">
          <ion-card-subtitle>Production ID | Date Created</ion-card-subtitle>
          <ion-card-subtitle>Item Description</ion-card-subtitle>
        </ion-col>
        <ion-col size-xs="4" size-sm="3" size-md="2">
          <ion-card-subtitle class="ion-text-end">Produced</ion-card-subtitle>
        </ion-col>
        <ion-col size-xs="4" size-sm="3" size-md="2">
          <ion-card-subtitle class="ion-text-end">Required</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="separator"></div>
  </ion-card>
</ion-content>

<div id="print">
  <div class="receipt-header">
    <div class="receipt-info">************************</div>
    <div class="receipt-info">
      <ion-card-subtitle>RECEIVING</ion-card-subtitle>
    </div>
    <div class="receipt-info">************************</div>
  </div>

  <div class="receipt-header">
    <div class="receipt-info">
      <ion-card-subtitle>{{ warehouse.warehouseName }}</ion-card-subtitle>
    </div>
    <div class="receipt-info">Warehouse</div>
  </div>

  <div class="receipt-header">
    <div class="receipt-info">
      <ion-card-subtitle>{{ vendor.vendorName }}</ion-card-subtitle>
    </div>
    <div class="receipt-info">Supplier</div>
  </div>

  <div class="receipt-header">
    <div class="receipt-date">Oct 14, 2022 06:22 AM</div>
    <div class="receipt-no">00000001</div>
  </div>

  <div class="separator"></div>
  <div class="desc-one" *ngFor="let item of receivingItems">
    <div class="barcode">{{ item.barcode }}</div>
    <div class="price">{{ item.totalAmount| number:'1.2-2' }}</div>
    <div>
      <div>{{ item.item.itemName }}</div>
      <div>
        {{ item.receivedQty }}{{item.requiredUom.uomCode }} @{{ item.itemCost|
        number:'1.2-2' }}/{{ item.requiredUom.uomCode }}
      </div>
    </div>
  </div>

  <br />
  <div class="separator"></div>
  <div class="separator"></div>
  <div class="total">
    <div class="total-desc">
      <ion-card-subtitle>Total</ion-card-subtitle>
    </div>
    <div class="total-amt">
      <ion-card-subtitle>{{ totalAmount | number:'1.2-2' }}</ion-card-subtitle>
    </div>
  </div>
  <div class="company-name">A subsidiary of Eight2Eight Inc.</div>
</div>
