<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/project-units"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Unit Details</ion-title>
    <ion-buttons slot="primary" *ngIf="!isFetching && !isUploading">
      <ion-button
        (click)="onSaveUnit()"
        *ngIf="!unit.unitId"
        [disabled]="isUploading"
      >
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-card *ngIf="!isFetching">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Primary Information</ion-card-title>
    </ion-item>
    <ion-grid>
      <form [formGroup]="unitForm">
        <ion-row class="primary-info-row">
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                class="cartIcon"
                src="assets/icons/pound_key.svg"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Unit Code</ion-label
              >
              <ion-input
                class="ion-input-elem"
                formControlName="unitCode"
                value="{{ unit.unitCode }}"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                src="assets/icons/topic.svg"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Description</ion-label
              >
              <ion-input
                class="ion-input-elem"
                formControlName="unitDescription"
                value="{{ unit.unitDescription }}"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Selling Price</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                formControlName="unitPrice"
                value="{{ unit.unitPrice }}"
                type="number"
                maxlength="20"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="cash-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Reservation Fee</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                formControlName="reservationAmt"
                value="{{ unit.reservationAmt }}"
                type="number"
                maxlength="20"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                slot="start"
                src="assets/icons/style.svg"
                color="primary"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Classification</ion-label
              >
              <ion-select
                formControlName="unitClass"
                value="{{ unit.unitClass }}"
              >
                <ion-select-option
                  *ngFor="let unitCls of unitClass | keyvalue"
                  [value]="unitCls.key"
                  >{{ unitCls.value }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="unit?.unitId>0">
          <ion-col class="buttons">
            <ion-button color="success" (click)="onSaveUnit()" [disabled]="isUploading" size="default"
              class="save-button">
              <ion-icon name="checkmark-outline" slot="start"></ion-icon>Save
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="!isFetching && unit?.unitId>0">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Contract</ion-card-title>
    </ion-item>
    <ion-grid>
      <form [formGroup]="contractForm">
        <ion-row class="primary-info-row">
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
              <ion-label class="ion-label-elem" position="floating">Client</ion-label>
              <ion-input class="ion-input-elem" (click)="onClientSearch()" readonly="true"
                [value]="contract.client?.clientName"></ion-input>
              <ion-button mode="ios" class="end-button" slot="end"
                size="small" fill="clear" (click)="onClientSearch()">
                <ion-icon name="search-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon slot="start" src="assets/icons/agent.svg" color="primary"></ion-icon>
              <ion-label class="ion-label-elem" position="floating">Broker</ion-label>
              <ion-input class="ion-input-elem" (click)="onClientSearch()" readonly="true"
                [value]="contract.client?.clientName"></ion-input>
              <ion-button mode="ios" class="end-button" slot="end"
                size="small" fill="clear" (click)="onClientSearch()">
                <ion-icon name="search-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon slot="start" src="assets/icons/brokerage.svg" color="primary"></ion-icon>
              <ion-label class="ion-label-elem" position="floating">Brokerage</ion-label>
              <ion-input class="ion-input-elem" (click)="onClientSearch()" readonly="true"
                [value]="contract.client?.clientName"></ion-input>
              <ion-button mode="ios" class="end-button" slot="end"
                size="small" fill="clear" (click)="onClientSearch()">
                <ion-icon name="search-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                src="assets/icons/info.svg"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Remarks</ion-label
              >
              <ion-input
                class="ion-input-elem"
                formControlName="remarks"
                value="{{ unit.unitDescription }}"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="buttons">
            <ion-button color="success" (click)="onSaveUnit()" [disabled]="isUploading" size="default"
              class="save-button">
              <ion-icon name="checkmark-outline" slot="start"></ion-icon>Save
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>

</ion-content>
