<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/project-units"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Unit Details</ion-title>
    <ion-buttons slot="primary" *ngIf="!isFetching && !isUploading">
      <ion-button
        (click)="onSaveUnit()"
        *ngIf="!unit.unitId"
        [disabled]="isUploading"
      >
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-card *ngIf="!isFetching">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Primary Information</ion-card-title>
    </ion-item>
    <ion-grid>
      <form [formGroup]="unitForm">
        <ion-row class="primary-info-row">
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                class="cartIcon"
                src="assets/icons/pound_key.svg"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Unit Code</ion-label
              >
              <ion-input
                class="ion-input-elem"
                formControlName="unitCode"
                value="{{ unit.unitCode }}"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                src="assets/icons/topic.svg"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Description</ion-label
              >
              <ion-input
                class="ion-input-elem"
                formControlName="unitDescription"
                value="{{ unit.unitDescription }}"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="6"
            *ngIf="unit.currentContract?.contractId === undefined"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Selling Price</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                formControlName="unitPrice"
                value="{{ unit.unitPrice }}"
                type="number"
                maxlength="20"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="6"
            *ngIf="unit.currentContract?.contractId === undefined"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="cash-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Reservation Fee</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                formControlName="reservationAmt"
                value="{{ unit.reservationAmt }}"
                type="number"
                maxlength="20"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                slot="start"
                src="assets/icons/style.svg"
                color="primary"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Classification</ion-label
              >
              <ion-select
                formControlName="unitClass"
                value="{{ unit.unitClass }}"
              >
                <ion-select-option
                  *ngFor="let unitCls of unitClass | keyvalue"
                  [value]="unitCls.key"
                  >{{ unitCls.value }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="unit?.unitId>0">
          <ion-col class="buttons">
            <ion-button
              color="success"
              (click)="onSaveUnit()"
              [disabled]="isUploading"
              size="default"
              class="save-button"
            >
              <ion-icon name="checkmark-outline" slot="start"></ion-icon>Save
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="!isFetching && unit?.unitId>0">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Contract</ion-card-title>
    </ion-item>
    <ion-grid>
      <form [formGroup]="contractForm">
        <ion-row class="primary-info-row">
          <ion-col
            size-xs="12"
            size-lg="6"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Selling Price</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.unitPrice | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                slot="start"
                name="person-outline"
                color="primary"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Client</ion-label
              >
              <ion-input
                class="ion-input-elem"
                (click)="onClientSearch()"
                readonly="true"
                [value]="unit.currentContract?.client?.clientName"
              ></ion-input>
              <ion-button
                mode="ios"
                class="end-button"
                slot="end"
                size="small"
                fill="clear"
                (click)="onClientSearch()"
              >
                <ion-icon name="search-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                slot="start"
                src="assets/icons/agent.svg"
                color="primary"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Broker</ion-label
              >
              <ion-input
                class="ion-input-elem"
                (click)="onBrokerSearch()"
                readonly="true"
                [value]="unit.currentContract?.broker?.brokerName"
              ></ion-input>
              <ion-button
                mode="ios"
                class="end-button"
                slot="end"
                size="small"
                fill="clear"
                (click)="onBrokerSearch()"
              >
                <ion-icon name="search-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-lg="6">
            <ion-item fill="outline">
              <ion-icon
                slot="start"
                src="assets/icons/brokerage.svg"
                color="primary"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Brokerage</ion-label
              >
              <ion-input
                class="ion-input-elem"
                (click)="onBrokerageSearch()"
                readonly="true"
                [value]="unit.currentContract?.brokerage?.brokerageName"
              ></ion-input>
              <ion-button
                mode="ios"
                class="end-button"
                slot="end"
                size="small"
                fill="clear"
                (click)="onBrokerageSearch()"
              >
                <ion-icon name="search-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12">
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                src="assets/icons/info.svg"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Remarks</ion-label
              >
              <ion-input
                class="ion-input-elem"
                formControlName="remarks"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Reservation</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.reservationAmt | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Reservation Payment</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.ttlReservationPaid | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Reservation Balance</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.reservationBalance | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Equity</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.equityAmt | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Equity Payment</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.ttlEquityPaid | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Equity Balance</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.equityBalance | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Financing</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.financingAmt | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Financing Payment</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.ttlFinancingPaid | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col
            size-xs="12"
            size-lg="4"
            *ngIf="unit.currentContract?.contractId>0"
          >
            <ion-item fill="outline">
              <ion-icon
                class="contactIcon"
                name="pricetag-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label class="ion-label-elem" position="floating"
                >Financing Balance</ion-label
              >
              <ion-input
                class="ion-input-elem qty-input"
                value="{{ unit.currentContract?.financingBalance | number:'1.2-2' }}"
                readonly="true"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="buttons">
            <ion-button
              color="success"
              (click)="onSaveContract()"
              [disabled]="isUploading"
              size="default"
              class="save-button"
            >
              <ion-icon name="checkmark-outline" slot="start"></ion-icon>Save
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="!isFetching">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Equity Schedule</ion-card-title>
    </ion-item>

    <ion-grid class="schedule-grid">
      <ion-row class="schedule-hdr">
        <ion-col size-md="2">
          <ion-item lines="none"
            ><ion-label class="id-col-lbl"
              ><h2>Month</h2></ion-label
            ></ion-item
          >
        </ion-col>
        <ion-col size-md="3">
          <ion-item lines="none"
            ><ion-label><h2>Due Date</h2></ion-label></ion-item
          >
        </ion-col>
        <ion-col size-md="3">
          <ion-item lines="none"
            ><ion-label class="num-col-lbl"
              ><h2>Amount Due</h2></ion-label
            ></ion-item
          >
        </ion-col>
        <ion-col size-md="3">
          <ion-item lines="none"
            ><ion-label class="status-col-lbl"
              ><h2>Amount Paid</h2></ion-label
            ></ion-item
          >
        </ion-col>
      </ion-row>
      <ion-row class="schedule-row" *ngFor="let schedule of equitySchedules">
        <ion-col size-xs="12" size-sm="6" size-md="2">
          <ion-item lines="none"
            ><ion-label class="id-row-lbl"
              ><h3>Month No.</h3>
              {{ schedule.scheduleId }}</ion-label
            ></ion-item
          >
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="3">
          <ion-item lines="none"
            ><ion-label class="id-row-lbl"
              ><h3>Due Date</h3>
              {{ schedule.dueDate | date:'MMM dd, yyyy' }}</ion-label
            ></ion-item
          >
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="3">
          <ion-item lines="none"
            ><ion-label class="id-row-lbl"
              ><h3>Amount Due</h3>
              {{ schedule.payableEquity | number:'1.2-2' }}</ion-label
            ></ion-item
          >
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="3">
          <ion-item lines="none"
            ><ion-label class="id-row-lbl"
              ><h3>Amount Paid</h3>
              {{ schedule.equityPaid | number:'1.2-2' }}</ion-label
            ></ion-item
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
