<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/project-units"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Unit Details</ion-title>
    <ion-buttons slot="primary" *ngIf="!isFetching && !isUploading">
      <ion-button
        (click)="onSaveUnit()"
        *ngIf="!unit.unitId"
        [disabled]="isUploading"
      >
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- <ion-button
        (click)="printPage()"
        *ngIf="unit.unitStatus === 'Posted' && !isFetching"
      >
        <ion-icon name="print-outline" slot="icon-only"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spinner">
    <ion-spinner
      name="bubbles"
      color="primary"
      *ngIf="isFetching"
    ></ion-spinner>
  </div>

  <ion-card *ngIf="!isFetching">
    <div class="card-top"></div>
    <ion-item lines="full">
      <ion-card-title>Primary Information</ion-card-title>
    </ion-item>
    <ion-grid>
      <ion-row class="primary-info-row">
        <ion-col *ngIf="unit.unitId">
          <ion-item fill="outline">
            <ion-icon
              class="cartIcon"
              name="log-out-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Releasing No.</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ unit.unitId }}"
              readonly="true"
            ></ion-input>

            <!-- <ion-button
              #statusButton
              *ngIf="releasingDetailsConfig.unitStatusButton && !isUploading"
              fill="clear"
              size="small"
              slot="end"
              mode="ios"
              (click)="onShowPopOver($event)"
            >
              <ion-badge [color]="releasingDetailsConfig.unitStatusColor"
                >{{ unit.unitStatus }}
              </ion-badge>
            </ion-button> -->

            <!-- <ion-popover
              #statusPopover
              *ngIf="releasingDetailsConfig.unitStatusPopover"
              triggerAction="click"
              dismissOnSelect="true"
              [isOpen]="statusPopoverOpen"
              (didDismiss)="statusPopoverOpen = false"
            >
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item
                      #postedStatus
                      *ngIf="releasingDetailsConfig.postedStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="full"
                      [button]="true"
                      (click)="onUpdateStatus('Posted')"
                    >
                      <ion-label>Post</ion-label>
                    </ion-item>
                    <ion-item
                      #cancelledStatus
                      *ngIf="releasingDetailsConfig.cancelledStatus"
                      class="ion-text-center ion-no-padding ion-no-margin"
                      lines="none"
                      [button]="true"
                      (click)="onUpdateStatus('Cancelled')"
                    >
                      <ion-label color="primary">Cancel</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover> -->

            <!-- <ion-badge
              #statusBadge
              slot="end"
              [color]="releasingDetailsConfig.unitStatusColor"
              *ngIf="releasingDetailsConfig.unitStatusBadge"
            >
              {{ unit.unitStatus }}
            </ion-badge> -->
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6" *ngIf="unit.unitId">
          <ion-item fill="outline">
            <ion-icon
              name="calendar-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Date Created</ion-label
            >
            <ion-input
              class="ion-input-elem"
              value="{{ unit.dateCreated | date:'MMM dd, yyyy hh:mm a' }}"
              readonly="true"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              src="assets/icons/warehouse02.svg"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Warehouse</ion-label
            >
            <!-- <ion-input
              class="ion-input-elem"
              value="{{ warehouse.warehouseName }}"
              readonly="true"
            ></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              src="assets/icons/moved_location.svg"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Destination
            </ion-label>
            <!-- <ion-input
              class="ion-input-elem"
              value="{{ destinationWarehouse.warehouseName }}"
              readonly="true"
            ></ion-input> -->
            <!-- <ion-button
              #statusButton
              slot="end"
              *ngIf="unit.unitStatus === 'Unposted' || unit.unitStatus === undefined"
              (click)="onWarehouseSearch(true)"
              fill="clear"
              size="small"
              mode="ios"
              id="click-trigger"
            >
              <ion-icon name="search-outline"></ion-icon>
            </ion-button> -->
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              name="person-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Customer</ion-label
            >
            <!-- <ion-input
              class="ion-input-elem"
              value="{{ customer?.customerName }}"
              readonly="true"
            ></ion-input> -->
            <!-- <ion-button
              *ngIf="unit.unitStatus === 'Unposted' || unit.unitStatus === undefined"
              (click)="onCustomerSearch()"
              fill="clear"
              size="small"
              slot="end"
              mode="ios"
              id="click-trigger"
            >
              <ion-icon name="search-outline"></ion-icon>
            </ion-button> -->
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="6">
          <ion-item fill="outline">
            <ion-icon
              class="contactIcon"
              name="calculator-outline"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label class="ion-label-elem" position="floating"
              >Total</ion-label
            >
            <!-- <ion-input
              class="ion-input-elem"
              value="{{ totalAmount | number:'1.2-2' }}"
              readonly="true"
            ></ion-input> -->
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card *ngIf="!isFetching" class="details-card">
    <div class="card-top"></div>
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <ion-card-title class="font-large">Released Items</ion-card-title>
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="unit.unitStatus === 'Unposted'  || unit.unitStatus === undefined"
      >
        <ion-searchbar
          searchIcon="barcode-outline"
          placeholder="Barcode"
          (keypress)="onGetItemByItemCode($event)"
          #itemSearchBar
        ></ion-searchbar>
      </ion-item>
    </ion-card-header>
    <div class="separator"></div>
    <ion-grid class="released-items-grid">
      <ion-row class="item-hdr" *ngIf="releasingItems.length>0">
        <ion-col size-xs="12" size-lg="4">
          <ion-item lines="none">
            <ion-label class="item-desc-hdr-lbl">Item</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-lg="2">
          <ion-item lines="none">
            <ion-label class="item-code-hdr-lbl">Barcode</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="6" size-md="3" size-lg="2">
          <ion-item lines="none">
            <ion-label class="item-qty-hdr-lbl">
              <h2>Wt./Uom</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="6" size-md="3" size-lg="2">
          <ion-item lines="none">
            <ion-label class="item-qty-hdr-lbl">
              <h2>Price</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="6" size-md="3" size-lg="2">
          <ion-item lines="none">
            <ion-label class="item-qty-hdr-lbl">
              <h2>Total</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="item-row" *ngFor="let item of releasingItems">
        <ion-col size-xs="12" size-lg="4">
          <ion-item lines="none">
            <ion-icon
              slot="start"
              name="cube-outline"
              color="primary"
            ></ion-icon>
            <ion-label class="item-desc-lbl item-line-lbl">
              <h3>{{ item.barcode }}</h3>
              {{ item.item.itemName }}</ion-label
            >
          </ion-item>
        </ion-col>
        <ion-col size-xs="0" size-lg="2">
          <ion-item lines="none">
            <ion-label class="item-code-lbl item-line-lbl"
              >{{ item.barcode }}</ion-label
            >
          </ion-item>
        </ion-col>
        <ion-col size-xs="6" size-sm="4" size-md="4" size-lg="2">
          <ion-item lines="none">
            <ion-label class="item-line-lbl item-qty-lbl">
              <h3>Wt./{{ item.requiredUom.uomCode.toUpperCase() }}</h3>
              <h2>
                {{ item.releasedWeightKg }}<span class="qty-uom-lbl"
                  >Kg/{{ item.releasedQty }}{{
                  item.requiredUom.uomCode.toUpperCase() }}</span
                >
              </h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="6" size-sm="4" size-md="4" size-lg="2">
          <ion-item lines="none">
            <ion-label class="item-line-lbl item-qty-lbl">
              <h3>Price</h3>
              <h2>{{ item.itemPrice| number:'1.2-2' }}/Kg</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="2">
          <ion-item lines="none">
            <ion-label class="item-line-lbl item-qty-lbl">
              <h3>Total</h3>
              <h2>{{ item.totalAmount| number:'1.2-2' }}</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="opt-col" *ngIf="!isUploading && releasingDetailsConfig.showItemOptionButtons">
          <ion-item lines="none">
            <ion-button
              class="delete-item-button"
              (click)="onDeleteReleasingItem(item)"
              mode="ios"
              slot="end"
              fill="clear"
              color="medium"
              size="default"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->
</ion-content>

<!-- <div id="print">
  <div class="receipt-header">
    <div class="receipt-info">
      <ion-card-subtitle>{{ warehouse.warehouseName }}</ion-card-subtitle>
    </div>
    <div class="receipt-info">Source Warehouse</div>
  </div>

  <div class="receipt-header">
    <div class="receipt-info">
      <ion-card-subtitle
        >{{ destinationWarehouse.warehouseName }}</ion-card-subtitle
      >
    </div>
    <div class="receipt-info">Destination Warehouse</div>
  </div>

  <div class="receipt-header" *ngIf="customer">
    <div class="receipt-info">
      <ion-card-subtitle>{{ customer.customerName }}</ion-card-subtitle>
    </div>
    <div class="receipt-info">Customer</div>
  </div>

  <div class="receipt-header">
    <div class="receipt-date">
      {{ unit.dateCreated | date:'MMM dd, yyyy hh:mm a' }}
    </div>
    <div class="receipt-no">{{ releasingId.toString().padStart(8, "0") }}</div>
  </div>

  <div class="separator"></div>
  <div class="desc-one" *ngFor="let item of receiptReleasingItems">
    <div class="item-detail" *ngIf="!item.isSubTotal">
      <div class="barcode">{{ item.barcode }}</div>
      <div class="price">{{ item.totalAmount| number:'1.2-2' }}</div>
      <div>
        <div>{{ item.item.itemName }}</div>
        <div>
          {{ item.releasedWeightKg }}Kg/{{ item.releasedQty
          }}{{item.requiredUom.uomCode }} @ {{ item.itemPrice| number:'1.2-2'
          }}/Kg
        </div>
      </div>
    </div>
    <div
      class="item-subTotal separator"
      *ngIf="item.isSubTotal && item.runningEntries > 1"
    >
      <div class="barcode">{{ item.runningEntries }} items.</div>
      <div class="price">{{ item.runningWeightKg | number:'1.0-3' }}Kg</div>
    </div>
  </div>

  <br />
  <div class="separator"></div>
  <div class="separator"></div>
  <div class="total">
    <div class="total-desc">
      <ion-card-subtitle>Total Amt.</ion-card-subtitle>
    </div>
    <div class="total-amt">
      <ion-card-subtitle>{{ totalAmount | number:'1.2-2' }}</ion-card-subtitle>
    </div>
  </div>
  <div class="total-kg">
    <div class="total-desc">
      <ion-card-subtitle>Total Kg.</ion-card-subtitle>
    </div>
    <div class="total-amt">
      <ion-card-subtitle
        >{{ totalWeightKg | number:'1.2-2' }}</ion-card-subtitle
      >
    </div>
  </div>

  <div class="received-by">
    <ion-card-subtitle>Prepared By:</ion-card-subtitle>
  </div>

  <div class="received-by">
    <ion-card-subtitle>Checked By:</ion-card-subtitle>
  </div>

  <div class="received-by">
    <ion-card-subtitle>Received By:</ion-card-subtitle>
  </div>

  <div class="company-name">A subsidiary of Eight2Eight Inc.</div>
</div> -->
